/* Modal Client  */

.clientArchivedModal-font h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: flex-end;
color: #000000;
}
.clientArchivedModal-font h2 span{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: flex-end;
color: #E21B1B;
}
.NoteArchivedModal {
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 24px;
display: flex;
text-decoration-line: underline;
color: #000000;

}
.NoteArchivedModal span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 24px;
text-align: left;
color: #000000;
text-decoration-line: unset !important;
}
.NoteArchivedModal p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 24px;
color: #000000;
text-decoration-line: underline;
}
.btnClient-ArchivedModal{
    background: #E21B1B;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #FFFFFF;
border: 0px ;
padding: 15px 50px;
}

.semneaza:hover{
    color: coral;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 86px;
    text-align: center;
    text-transform: uppercase;
}
.semneaza{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 86px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}



.RESTloader {
   margin-inline: 12px;
    font-size: 10px;
    text-indent: -9999em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .RESTloader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% ;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .RESTloader:after {
    background: transparent;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @media (min-device-width:320px) and (max-device-width:768px){
    .semneaza{
      position: fixed;
      bottom: 0;
      font-family: Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      height: 10vh;
      }
      .semneaza:hover{
        color: coral;
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        height: 10vh;
    }
      .heightScreen{
        height:75vh;
      }
      .LogoScreenSign{
        /* width: 10%; */
      }
      .heightScreenTop{
        height: 10vh;
        display: flex;
      align-items: center;
    }
    .topTitle{
      font-family: Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 26px;
  
    }
    .topTitle .span{
      font-family: Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 25px;
      color: #ffff !important;
  
    }
    .bottomText{
      
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 23px;
        text-align: center;
    
    }
    .clearbtn{
        
      margin-top: 5px;
      background: rgb(253, 2, 2);
      border: none;
      font-family: Poppins;
      font-weight: 700;
      padding: 9px;
      border-radius: 10px;
      font-size: 17px;
      line-height: 18px;
  
  }
     
  }
  /* @media (min-width:600px){
    .semneaza{
      font-family: Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      padding:20px 0px !important;
      height: 10vh;

  }
  .semneaza:hover{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: coral;
    padding:20px 0px !important;
    height: 10vh;

}
  .heightScreen{
    height: 77vh
  }
  .heightScreenTop{
    height: 10vh;
    display: flex;
    align-items: center;
  }
  } */

  @media (min-width:768px){
    .topTitle{
      font-family: Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 44px;
  
    }
    .topTitle .span{
      font-family: Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 44px;
      color: #ffff !important;
  
    }
    .bottomText{
      
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
    
    }
    .semneaza:hover{
      font-family: Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 46px;
      text-align: center;
      text-transform: uppercase;
      color: coral;
      padding:10px 0px !important;
      height: 10vh;
    
  
  }
      .semneaza{
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 46px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
      padding:10px 0px !important;
  height: 10vh;


    }
    .heightScreen{
      height: 77vh;
    }
    .heightScreenTop{
      height: 10vh;
    }
    }
    
    @media (min-width:1200px){
      .topTitle{
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 44px;
    
      }
      .topTitle .span{
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 44px;
        color: #ffff !important;
    
      }
      .bottomText{
        
          color: rgb(255, 255, 255);
          font-family: Poppins;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 33px;
          text-align: center;
      
      }
      .semneaza:hover{
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 46px;
        text-align: center;
        text-transform: uppercase;
        color: coral;
        padding:0px 0px !important;
        height: 12vh;
      overflow: hidden;
      
    
    }
      .semneaza{
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 86px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
      padding:0px 0px !important;
  height: 12vh;
overflow: hidden;
      
    }

    .clearbtn{
        
      margin-top: 5px;
      background: rgb(253, 2, 2);
      border: none;
      font-family: Poppins;
      font-weight: 700;
      padding: 13px;
      border-radius: 10px;
      font-size: 20px;
      line-height: 18px;
  
  }
  .heightScreenTop{
    height: 15vh;
    display: flex;
    align-items: center;
  }
  .heightScreen{
    height: 70vh;

  }
    }
    @media (min-width:1400px){
      .topTitle{
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 49px;
    
      }
      .topTitle .span{
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height:49px;
        color: #ffff !important;
    
      }
      .bottomText{
        
          color: rgb(255, 255, 255);
          font-family: Poppins;
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 69px;
          text-align: center;
      
      }
      .semneaza:hover{
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 46px;
        text-align: center;
        text-transform: uppercase;
        color: coral;
        padding:0px 0px !important;
        height: 14vh;
      
    
    }
       
        .semneaza{
          font-family: Poppins;
          font-style: normal;
          font-weight: 700;
          font-size: 29px;
          line-height: 86px;
          text-align: center;
          text-transform: uppercase;
          color: rgb(255, 255, 255);
      padding:0px 0px !important;
  height: 14vh;


      }
      .clearbtn{
        
          margin-top: 5px;
          background: rgb(253, 2, 2);
          border: none;
          font-family: Poppins;
          font-weight: 700;
          padding: 15px;
          border-radius: 10px;
          font-size: 24px;
          line-height: 31px;
      
      }
      .heightScreenTop{
        height: 15vh;
        display: flex;
        align-items: center;
      }
      .heightScreen{
        height: 70vh;
  
      }
    }
