/* Modal Client  */

.clientArchivedModal-font h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: flex-end;
color: #000000;
}
.clientArchivedModal-font h2 span{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: flex-end;
color: #E21B1B;
}
.NoteArchivedModal {
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 24px;
display: flex;
text-decoration-line: underline;
color: #000000;

}
.NoteArchivedModal span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 24px;
text-align: left;
color: #000000;
text-decoration-line: unset !important;
}
.NoteArchivedModal p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 24px;
color: #000000;
text-decoration-line: underline;
}
.btnClient-ArchivedModal{
    background: #E21B1B;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #FFFFFF;
border: 0px ;
padding: 15px 50px;
}

.semneaza:hover{
    color: coral;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 86px;
    text-align: center;
    text-transform: uppercase;
}
.semneaza{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 86px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}



.RESTloader {
   margin-inline: 12px;
    font-size: 10px;
    text-indent: -9999em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .RESTloader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% ;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .RESTloader:after {
    background: transparent;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }