@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
}
.pd {
    padding-top: 30px;
}

.text-family {
    padding-top: 10px !important;
}

.text-family span {
    text-decoration: underline;
}

.child-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000; 
}
.child-text b{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000; 
    text-decoration: underline;
    margin-left:5px !important;
}
.box {
    border: 1px solid black;
    height: 50%;
    width: 80%;
}

.box p {
    padding-left: 10px;
    padding-bottom: 2px;
    margin-bottom: 0px !important;
}

.last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0px;
    margin-bottom: 0px !important
}

hr.new5 {
    margin-top: 20px;
    border: 2px solid #000000;
    height: 1px !important;
    border-radius: 34px;
}

.pd {
    padding-top: 30px;
}

.pd-left {
    padding-right: 10px !important;

}

.row>* {
    /* padding-right: unset !important; */
}

.cardClient-img {
    width: 65px;
    padding: 10px 4px;
}

.cardTODO{
  border-radius: 16px;
  padding: 10px 16px !important;

}
.cardTODO-img {
    width: 75px;
    padding: 30px 4px;
}

.card-color-client {
    background: #FE8700;
    border-radius: 16px;
    padding: 5px;
}

.padding {
    padding: 0.5rem 13px !important;
}
.card-body{
    padding: 0.5rem 0rem !important;

}

.todo {
    background: transparent;
    border: none;
}

.card-body p {
    margin-bottom: 0px !important;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

.blue {
    color: #3F76E2 !important;
}

.card-body small {
    padding-right: 80px;
}

.btn-card {
    height: 20px;
    background: #032339;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 70px;
    font-size: 8px !important;
    padding: 2px 0px 0px 0px !important;
    border-radius: 0px !important;
}

.btn-cardLeft {
    background-color: #A461D8;
    color: #ffff;
    height: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 70px;
    font-size: 6px !important;
    padding: 2px 0px 0px 0px !important;
    border-radius: 0px !important;
}


.btn-cardRight1 {
    height: 20px;
    background: black;
    color: #FE8700;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 70px;
    font-size: 8px !important;
    padding: 0px !important;
  
    border-radius: 0px !important;
}

.btn-cardRight {
    height: 20px;
    background: #FF0000;
    color: #ffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 70px;
    font-size: 6px !important;
    padding: 0px !important;
  
    border-radius: 0px !important;
}
.btn-cardRightOne{
    height: 20px;
    background: black;
    color: #FE8700;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 70px;
    font-size: 8px !important;
    padding: 0px !important;
  
    border-radius: 0px !important;
}
.ClientTOPFamily{
font-family:'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 1px;
text-transform: capitalize;
color: #252726;
}
.ClientTOPFamily span{
    font-family:'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #3F76E2 !important;
    }
    .textClientCard{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
display: flex;
align-items: center;
color: #000000;
margin-bottom: 0px;
    }
    .todoClient{
        background-color: #E4F4FF;
        padding: 10px 15px;
        border: 0px;
        border-radius: 50px;
        display: flex;
        align-items: center;
    }
    .color-rowClientCard{
        background: #E4F4FF;
    position: relative;
    width: 511px;
    left: -16px;

    }
    .color-rowClientCard p{
        font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
color: #3F76E2;
margin-bottom: 0px;
padding: 10px 15px;

    }
    .fontStylingCardDetails p{
        font-family: 'Poppins' !important;
font-style: normal ;
font-weight: 400;
font-size: 12px ;
line-height: 16px ;
color: #000000 ;
margin-bottom: 5px;

    }
    .fontStylingCardP{
        font-family: 'Poppins';
font-style: normal;
font-weight: 700 !important;
font-size: 12px !important;
line-height: 16px !important;
display: flex;
align-items: center;
color: #000000;
margin-bottom: 0px;
margin-top: 5px;

    }
    .switch-fontCard{
        font-family: 'Poppins';
font-style: normal;
font-weight: 500 !important;
font-size: 11px !important;
line-height: 16px !important;
display: flex;
align-items: center;
padding: 9px 0px !important;
color: #000000 !important;
    }
    .miniSwitch .react-switch-bg{
        height: 21px !important;
        width: 42px !important;
    }
    .miniSwitch .react-switch-handle{
        height: 19px !important;
        width: 19px !important;
    }
    .btn-SEEFULLprofile{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 0px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        background: #032339;
border-radius: 100px;
    }
    .missing{
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: flex-end;
text-transform: capitalize;
color: #373A3C;
margin-right: 10px;
    }
    .CardOptions .css-26l3qy-menu {
        z-index: 999;
        box-shadow: 0px 20px 20px 20px rgb(0 0 0 / 5%);
        width: 165px !important;
    }
    .CardOptions .css-tj5bde-Svg {
margin-inline: 5px;
    }


    .select__indicator-separator{
        display: none !important;
    }

    