.FontStyle-TODOEdit{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 1px;
text-transform: capitalize;
color: #252726;
}
.btn-Clientsave{
    background: #489767;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
padding: 15px 11px;

}
.bg-ClientCancel{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
color: #E21B1B;
    border: 1px solid #E21B1B;
border-radius: 100px;
background-color: #ffffff;
}
.bg-ClientCancel p{
margin-left: 5px;
}
.Edit-LabelsFonts label{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

text-transform: capitalize;
color: #373A3C;
}
.Edit-LabelsFonts{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

text-transform: capitalize;
color: #373A3C;
}
.ClientEditStylebtn{
    background: #e4f4ff;
    border-radius: 100px;
    border: 0px;
    padding: 5px 13px;
}
.Lead-pas p:first-child{
font-family: "Poppins";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #000000;
}
.Lead-pas p:last-child{
font-family: "Poppins";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #000000;
}
.PermisDrive{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: flex-end;
text-transform: capitalize;
color: #373A3C;

}