body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  overflow-x: hidden;
}

code {
  font-family: Ubuntu, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}