.BtnLeads {
  background: #032339;
  border-radius: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.105991px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 25px;
}
.BtnLeads:hover {
  background: #032339;
  border-radius: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.105991px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 25px;
}
.leadsTab .rts___tabs.hide___rts___tabs___scroll {
  background: transparent;
  border-radius: 10px;
}

.leadsTab .rts___btn {
  color: #888888 ;
}
.rts___tab___selected {
  color: #ffffff !important;
}
.placeHolderLead .css-14el2xx-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: capitalize;
  color: #92929d;
}

.exportSMSDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ApplyFilter {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.leadCardUser {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 23px !important;
  color: #000000 !important;
}
.leadSpan {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.CardDetails {
  background: #f3f3f3;
  border-radius: 100px;
}
.CardDetails p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #000000;
}
.leadBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cde7f9;
  height: 80px;
  border-right: 1px solid #fff;

}
.leadBoxX {
  background: #cde7f9;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.leadBoxGray{
  background-color: #F5F6F8;
  border-right: 1px solid #dcd9d9;
  border-bottom: 1px solid #dcd9d9;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leadBox p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #032339;
}
.leadBoxX h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #032339;
}
.leadBoxX p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #032339;
  margin-bottom: 0px;
}
.BlueLink {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #3f76e2;
  margin-bottom: 0px;
  background: transparent;
  border: 0px;
  text-align: start;
  text-decoration-line: underline;
}
.lead_Created {
  background: #cde7f9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom:1px solid #fff ;
}
.lead_Created p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #032339;
  padding: 10px;
}
.leadBottom {
  background-color: #f5f6f8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.offRedBtn{
  background: #E21B1B;
  border-radius: 20px;
  width: 100%;
  justify-content: center;
  padding: 5px;
}
.onGreenBtn{
  background: #489767;
  border-radius: 20px;
  width: 100%;
  justify-content: center;
  padding: 5px;
}
.onGreenBtn{
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF !important;

}
.onGreenBtnContact{
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF !important;
  background: #489767;
  border-radius: 20px;
  width: 100%;
  justify-content: center;
  padding: 5px;

}
.offRedBtn{
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #FFFFFF !important;

}
.PrECONTACTED p{
  margin-top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;

  color: #032339;
}
.offBtns{
  border: 1px solid #d9d9d9e8;
  border-radius: 20px;
  width: 100%;
  justify-content: center;
  padding: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color:#7a7a7a78;
}
.PrECONTACTED span{
    margin-top: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px; 
    color: #032339;
  }
  .PrECONTACTEDInput p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;
color:#7a7a7a78;
  } 
  .NotesAgency p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;
margin-top: 13px;
color: #032339;
  }
  .Monthly {
    position: fixed !important;
    width: 260px !important;
    left: 30% !important;
    top: 29% !important;
}
  .NotesAgency span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    
    color: #032339;
  }
  .PrECONTACTED{
    border-right: 1px solid #dcd9d9;
  }
  .addToCrmLabel{
    background:#F2D5D7;
      border-radius:5px
  }
  .addToCrmLabel p{
    font-family: 'poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
padding: 5px 3px;
color: #000;

  }
  .OverFlowLink{
  border-radius: 4px;
  overflow-x: scroll;
  overflow-y: hidden;

  }
  .OverFlowLink::-webkit-scrollbar {
    width: 2px;         
    height: 3px;      /* width of the entire scrollbar */
  }
  .OverFlowLink::-webkit-scrollbar-track {
    background: #e7e7e7;        /* color of the tracking area */
  }
  .OverFlowLink::-webkit-scrollbar-thumb {
    background-color: #FE8700;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }
  
  .Box {
  width: 500px;
  margin: 50px auto 0;
  text-align: center
}

.AddToCrm{
  background: #000000;
  border-radius: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  /* align-items: flex-end; */
  text-transform: uppercase;
  color: #fff;
  /* padding: 38px; */
  width: 88px;
  justify-content: center;
  height: 27px;
  align-items: center;
}
/*Styling Selectbox*/
.Monthlydropdown {
  
    border: 1px solid  #EAEAEA !important;
    z-index: 55;
    position: absolute;
    background: #ffff;
    width: 115px;
    height: 100px;
    left: -39px;
    top: 23px;
    border-radius: 5px;

}
.rdrDateRangePickerWrapper{
  position:absolute;
  z-index: 5777;
  right: 0;
  border:1px solid #000000;
  top:70px
}
.dateSort{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: capitalize;
  color: #92929d;
  border-radius: 25px !important;
  min-height: 45px !important;
  padding-left:10px;
  width: 100%;
  border: 1px solid #92929D;
}

.PrECONTACTEDInput input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.offRedBtn input[type='radio']:checked:after {
  width: 0px;
  height: 0px;
  border-radius: 67px;
  top: 1.9px;
  left: 0.5px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 6px solid rgb(255 254 254);
}
.onGreenBtn input[type='radio']:checked:after {
  width: 0px;
  height: 0px;
  border-radius: 100px;
  top: 3px;
  left: 1px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 5px solid rgb(255, 255, 255);
}
.onGreenBtnContact input[type='radio']:checked:after {
  width: 0px;
  height: 0px;
  border-radius: 100px;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 5px solid rgb(255, 255, 255);
}
.themeColor input[type='radio']:checked:after {
  width: 0px;
  height: 0px;
  border-radius: 50px;
  top: 1.9px;
  left: 0.5px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 6px solid rgb(255, 255, 255);
}
.themeColorAgency input[type='radio']:checked:after {
  width: 0px;
  height: 0px;
  border-radius: 50px;
  top: 0.1px;
  left: 0.2px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 6.6px solid rgb(255, 255, 255);
}
.themeColorAgency{
  background: #FE8700;
  border-radius: 20px;
  width: 100%;
  justify-content: center;
  padding: 5px;
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #FFFFFF !important;
}
.offRedBtnAgency{
  background: #E21B1B;
  border-radius: 20px;
  width: 100%;
  justify-content: center;
  padding: 5px;
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #FFFFFF !important;
}
.offRedBtnAgency input[type='radio']:checked:after {
  width: 0px;
  height: 0px;
  border-radius: 67px;
  top: -0.4px;
  left: -0.2px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 6.8px solid rgb(255 254 254);
}
.inputBorder{
  border: 1px solid #ffff; height: 18px; width: 18px; margin-right: 2px; border-radius: 100px;
 }
.themeColor{
  background: #FE8700;
  border-radius: 20px;
  width: 100%;
  justify-content: center;
  padding: 5px;
  
}

.themeColor{
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #FFFFFF !important;
}
.ColorInput input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.eventPos{
  position: relative;
  top: -33px;
  right: 15px;
}
.LeadMothlyDropDown:hover{
  background: #FFF7EE;
  border-radius: 22px;

}
.LeadMothlyDropDown:hover p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #FE8700;
}
.LeadMothlyDropDown p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #8F8F8F;
padding: 0px 8px;
}
.SelectJobAccording{
  font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 15px;
letter-spacing: -1px;

color: #000000;
}
.userLeads .react-multi-carousel-item {

width: 360px !important;
}
.activeCard{
  border: 6px solid #00ff2b;
    border-radius: 100px;
}
.deActive{
  border: 6px solid #ff0000;
  border-radius: 100px;
}
.ApplyFiltersBtn:hover{
  background: #0e8d32;
    border: 0px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    color: #ffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border:1px solid #000000
}
.ApplyFiltersBtn{
  background: transparent;
    border: 0px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border:1px solid #000000
}
.RESETfilters:hover{
  background: #911010;
    border: 0px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    color: #ffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border:1px solid #92929D
}
.RESETfilters{
  background: transparent;
    border: 0px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border:1px solid #000000
}
.AddLeadsFormSelect:hover p {
  background: transparent;
  border-radius: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size:20px;
  line-height: 20px;
  letter-spacing: -0.105991px;
  text-transform: uppercase;
  color: #ffffff;
}
.AddLeadsFormSelect:hover {
  background: #f09c3dda;
  border-radius: 15px;

}
.AddLeadsFormSelect {
  background: #ffffff;
  border-radius: 15px;
  height: 200px;
}
.AddLeadsFormSelect p {
  background: transparent;
  border-radius: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: -0.105991px;
  text-transform: uppercase;
  color: #000000;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.LeadsLoad .spinner-border {
  width: 13rem;
  height: 13rem;
  border: 1.5em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
  color: #FE8700 !important;
}


.is-visible {
  opacity: 1;
}
.glow-on-hover {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.105991px;
  text-transform: capitalize;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  z-index: 0;
  border-radius: 10px;
}
.filter-green {
  width:20px;
  filter: invert(115%) sepia(127%) saturate(2417%) hue-rotate(147deg) brightness(171%) contrast(149%);
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.wait00p32 {
  animation: rotate 1s infinite;
  height: 150px;
  width: 150px;
}

.wait00p32:before,
.wait00p32:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 80px;
  width: 80px;
}
.wait00p32:before {
  animation: ball1 1s infinite;
  background-color: #000000;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.wait00p32:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #000000;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}


.PleaseWaitLeads {
  border: 2px solid #FFF;
  width: 48px;
  height: 48px;
  background: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.PleaseWaitLeads::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent #FFF;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 