.hero-title{
    border-bottom: 2px solid black;
}
.hero-title * {
    font-weight: 700;
}
.add-form{
    background: #ffff;
    padding: 1rem;
    border-radius: 10px;
}
.text-small{
    font-size: small;
}
.amount-fields span{
    background: #ECEEEF;
    display: grid;
    place-items: center;
    color: #999999;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #CCCCCC;
}
.amount-fields input{
    border: 1px solid #CCCCCC;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
}
.submit-btn-hold{
    border-radius: 25px;
    overflow: hidden;
    width: 90%;
    display: flex;
}
.submit-btn-hold .btn{
    border-radius: 25px;
    width: 80%;
    margin: auto;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.fonStylingPtag{
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    margin-bottom: 5px !important;
}
.placeHolder{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
text-transform: capitalize;
color: #92929D;
}
.From-date{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
text-transform: uppercase;
color: #1F2041;
}
.saveSalary{
    background: #032339;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
padding: 11px 50px;
}
.RemoveSalary{
    border: 1px solid #000000;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
text-transform: uppercase;
color: #032339;
padding: 11px 50px;
}
.SaveTAUX{
    background: #032339;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 11px 26px;
}
.btnHPaid{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 24px;
text-transform: capitalize;
color: #979797;
border: 1px solid #E7E7E7;
padding: 15px 20px;
border-radius: 10px;
}
.paidHFontChild{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
display: flex;
align-items: flex-end;
color: #489767;
}
.fontSizeReactSwitch{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: flex-end;
text-transform: capitalize;
color: #373A3C;
padding: 0px;
}
/* .react-switch-bg{
    height: 23px !important;
    width: 45px !important;
    margin: 0px !important;
    position: relative !important;
    background: rgb(136, 136, 136) !important;
    border-radius: 14px !important;
    cursor: pointer !important;
    transition: background 0.25s ease 0s !important;
}
.react-switch-handle{
        height: 21px !important;
        width: 21px !important;
        background: rgb(255, 255, 255) !important;
        display: inline-block !important;
        cursor: pointer !important;
        border-radius: 50% !important;
        position: absolute !important;
        transform: translateX(1px) !important;
        top: 1px !important;
        outline: 0px !important;
        border: 0px !important;
        transition: background-color 0.25s ease 0s, transform 0.25s ease 0s, box-shadow 0.15s ease 0s;
} */
.ml-left{
    margin-left: 3px;
}
.bg-Switch{
    background: #FBFBFB;
border-radius: 10px;
padding: 22px 5px;
}
.btn-CLIENTSB{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #032339;
border-radius: 100px;
padding: 12px 100px;
}
.text-smallOG{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height */

display: flex;
align-items: flex-end;

color: #FE8700;
}