.flex-wrap {
    display: flex;
    justify-content: center;
}

.titleAdd {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 58px;
}

.vw-Box {
    height: 100%;
    width: 100vw;
    background-color: #E5E5E5;
    padding: 25px;
}
.vw-UserBox {
    height: 100%;
    width: 100vw;
    padding: 25px;
}
.bg-light {
    background-color: #ffff !important;
    text-align: center;
    padding: 0px 35px;
}

.list-0012 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #252726;
}
.list-001 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 50px;
}
.A0012 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;  
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.Add-Class {
    display: flex;
    justify-content: right;
}

.btn-job {
    background-color: #3F76E2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border-radius: 0px;
    width: 122px;
    height: 39px;
    padding: 0px 0px;
}

.btn-resume {
    background-color: #FE8700D9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border-radius: 0px;
    width: 122px;
    height: 39px;
}

.pd-lr {
    padding: 5px 25px;
    background-color: #C4C4C4;
}

.btn-green {
    background-color: #489767;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #ffff;
    padding: 2px 45px;
}


/* UserList */
.btn-AddUser{
    background: #032339;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
letter-spacing: -0.105991px;
text-transform: uppercase;
color: #FFFFFF;

}
.pd-Userlr {
    padding: 5px 25px;
    background-color: #f5f7fa;
    border-radius: 8px;
}
.Top-UserHeading{
    background-color: #ffff;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
padding: 15px 0px;
}
.bg-ListOfUsers{
    background-color: #ffffffb5;

}
.btn-delete img{
margin-right: 5px;
}
.btn-delete{
    border: 1px solid #E21B1B;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color:#E21B1B ;
    margin: 5px 0px;
}
.Add-ModalUserStyle{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: flex-end;
color: #000000;
}
.fontStylingLabel{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: flex-end;
text-transform: capitalize;
color: #373A3C;
}
.btn-job-list{
    background-color: #333333;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #ffff;
    line-height: 29px;
    border-radius: 0px;
    width: 122px;
    height: 39px;
    padding: 0px 0px;
}

/* Modal Add user */

.btn-addUser{
    background: #489767;
    padding: 8px 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; 
    border-radius: 100px;
    color: #FFFFFF;
}
.btn-close:focus {
    outline: 0;
    box-shadow: unset;
    opacity: 1;
}
.Radius-Border{
    border-radius: 15px !important;
}
/* loader */

.loader{
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
    border: solid 10px #b51212;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}
