.bg-class{
    background-color: #ffff !important;
        margin: 15px 0px;
        border-radius: 15px;
        padding: 20px;
}
.top-pd{
    padding: 15px 0px;
}
.stable img{
    padding-right: 10px;
}
.bg-btn{
    background-color: #C4C4C4;
    border-radius: 13px;
    font-weight: 700;
font-size: 13px;
line-height: 20px;
letter-spacing: -0.105991px;
text-transform: uppercase;
}
.btn-bgb{
    background-color: #032339;
    color: #ffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.105991px;
    text-transform: uppercase;  
    color: #FFFFFF
}
.btn-bgb img{
    width: 20px;
    margin-inline: 5px;
}
.btn-gray{
    background-color: #C4C4C4;
    font-weight: 400;
font-size: 35px;
line-height: 42px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 13px;
width: 242px;
height: 52px;
}

.end-class p{
    margin-bottom: 0px !important;
}
.btn-email{
    background-color:#B5B5BE;
    color :white;
    border: 1px solid #000000;
    width: 379px;
height: 50px;
box-sizing: border-box;
border-radius: 18px;
}
.btn-see{
    background-color:#3F76E2;;
    color :white;
    border: 1px solid #000000;
    width: 379px;
height: 50px;
box-sizing: border-box;
border-radius: 18px;
margin-bottom: 5px ;
}
.padding-email{
    padding-right: 10px;
}
.padding-email img{
width: 15%;
}

.btn-whatsapp{
    background-color: #489767;
}
.parent-p{
    padding-top: 5px;
}
.parent-p p{
    font-weight: 600;
font-size: 24px;
line-height: 26px;
text-decoration-line: underline;
padding-right: 10px;
color: #000000;
}
.Todo-CardMore{
    padding: 10px;
}
.Todo-CardMore p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom:0px ;
}
.Todo-CardMore span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #000000;
    margin-bottom:0px ;
    margin-left:5px;
}
.blue-text{
color:#3F76E2 !important

}
.btn:hover{
    color: #FFFFFF;
}
.btn-black:hover {
    color: #FE8700;
}
.parent-p  span{
text-decoration-line: unset !important;    
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #000000;
}
.exp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;  
    display: flex;
    align-items: center;  
    color: #000000;  
}
tbody{
    background-color: white !important;
 }
 thead{
    background: #F4F4F4;
 }
 .btn-upload{
     background-color: #C4C4C4;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 21px;
     margin-top: 5px;
     padding: 5px;
 }
 .box-size{
    width: 99%;
    text-align: center;
    border: 1px solid #ffff;
    border-radius: 10px;
    background: currentColor;
 }
 .box-size p{
     color: #000000;
     font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 33px;
margin-bottom: 0px !important;
 }
 .child-p p{
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    text-decoration-line: underline;
    padding-right: 10px;
    color: #000000;
    margin-bottom: 0px;
 }
 .child-p span{
    text-decoration-line: unset !important;    
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
 }
 .btn-move{
    background-color: #A461D8;
    color: #ffff;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 16px;
padding: 20px;
border-radius: 8px;
 }
 .btn-red{
    color: #ffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    padding: 20px;
    border-radius: 8px;
    background-color: #FF0000;
 }
 .btn-black{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
     background-color: #032339;
     color: #FE8700;
     border-radius: 8px;
     padding: 18px;
     display: flex;
     align-items: center;
 }
 .btn-black img{
    padding-right: 5px;
    width: 20%;
 }
.italic-fontStyle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
    padding-left: 10px;
    margin-top: 10px;
}
.card-xl p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;  
    display: flex;
    align-items: center; 
    color: #000000;
}
.card-xl p:last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;  
    display: flex;
    align-items: center; 
    color: #000000;
    width: 125%;
}
.image-select{
    width: 18px;
    border-radius: 50px;
    height: 18px;
    position: relative;
    right: -35px;
    bottom: 20px;
}

.card-xlSpan{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;  
    display: flex;
    align-items: center; 
    color: #000000;
}
.btn:hover {
    color: #212529;
}
.btn-bgb:hover {
    color: #FE8700;
}
.card-TodoProfile{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 16px;
color: #000000;
}
.bg-todoTodoDetails{
    background: #FFFFFF;
box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
border-radius: 10px;
margin-top: 10px;
padding-top: 30px;
}
.todoBtnStyle{
background: #E4F4FF;
border-radius: 100px;
border: 0px;
padding: 5px 13px;
}
.Social-Card{
background: #FFFFFF;
box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
border-radius: 10px;
}
.Span-Styling{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
display: flex;
align-items: center;
color: #000000;
}
.btn-gmail{
    background: #FFFFFF;
    box-shadow: 0px 2px 48px rgb(0 0 0 / 4%);
    border-radius: 30px;
    border: 1px solid #000000;
    padding: 15px 115px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
color: #000000;
}
.scroll-Style{
    max-width: 49%;
    overflow-y: scroll;
    height: 378px;
}
.scrollbar
{
	float: left;
	height: 388px;
	width: 70px;
	background: #ffff;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 450px;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background: #E0E0E0;
}
.btn-preSelected{
    background: #3F76E2;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 27px;
color: #FFFFFF;
padding: 15px 30px;
}
.btn-Archived{
    background: #FF0000;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 27px;
color: #FFFFFF;
padding: 15px 30px;

}
.btn-EditProfile{
    background: #032339;
border-radius: 100px;
padding: 10px 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
padding: 15px 40px;

}
.btn-CVManual{
    background: #032339;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 27px;
color: #FFFFFF;
padding: 15px 30px;

}
.CandidateCV{
    background: #E6EEFF;
border: 1px dashed #3F76E2;
border-radius: 8px;
max-width: 49%;
}
.UploadCandidat{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #032339;
}
.dropFile{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
color: #032339;

}
.z-index{
    z-index: 1000px;
    
}
.FontStyleUpload{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #3F3F44;
}
.candidatecVs{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #3F3F44;
}

._react_fileupload_form_content
 [type=submit]{
border: 0px;
padding: 2px 10px;
margin-top: 12px;
background: orange;
border-radius: 15px;
margin-left: 15px;
}
.btnDownload{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
text-align: center;
color: #3F76E2;
background: #E5EEFF;
border-radius: 100px;
border:0px;
padding: 10px;
}
.download-font{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #3F3F44;
}
.CardClassDownload{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
   padding: 10px;
   width: 100%;
}
._react_fileupload_progress_content div:first-child{
    width: 310px !important;
}
.FontMatchedStyle{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 16px;
color: #000000;
}
.FontStylingCardtext{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #000000;
padding-top: 3px;
}
.btnMatched{
background: #032339;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
padding: 5px 20px;
}
.btnNotMatched{
    background: #FFFFFF;
    box-shadow: 0px 2px 48px rgb(0 0 0 / 4%);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #032339;
    width: 90% !important;
    padding: 5px 3px;
    border-radius: 20px;
}
.AnneesStyle p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
text-decoration-line: underline;
color: #000000;
margin-bottom: 0px

}
.AddressEnteredBy p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #000000;  
    margin-bottom: 0px;
    padding-top:5px;

}
.AddressEnteredBy span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: unset;
    color: #000000; 
    padding-top:5px;
    padding-left: 5px;

}
.noteThis{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
display: flex;
align-items: flex-end;
color: #000000;
padding-top: 5px;
}
.AnneesStyle span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
text-decoration-line: none !important;
color: #000000;
padding-left: 5px;

} 
.upload .css-1s2u09g-control{
    width: 25px;
    min-height:25px !important;
    border-radius: 25px !important;
    position: relative;
    top: -29px;
    left: 104px;
}
.upload .css-319lph-ValueContainer{
    display: none !important;
}
.upload .css-tlfecz-indicatorContainer{
    padding: 0px !important;
}
.upload .css-26l3qy-menu{
position: relative !important;
top: -30px !important;
right: 11px !important;

}
.upload .css-1n7v3ny-option {

    padding: 8px 2px !important
}

.upload .css-yt9ioa-option{
    padding: 8px 2px !important
}

.CardOptions .css-14el2xx-placeholder{
    position: relative;
    margin-right: 5px !important;
}
.CardOptions .css-tlfecz-indicatorContainer {
    padding: 0px !important;
}
.CardOptions .css-1s2u09g-control {
    border-radius: 25px !important;
    min-height: 25px !important;
    display: flex;
    width: 130px;
}
.CardOptions .css-14el2xx-placeholder {
display: flex;
}
.CardOptions .css-6j8wv5-Input{
    margin: 0px !important;
    padding: 0px !important;
}
.CardOptions .css-1pahdxg-control{
    min-height: 24px !important;
    box-shadow: 0 0 0 1px #000000 !important;
    max-height: 17px !important;
    display: flex;
    width: 130px;
    border-radius: 25px !important;
    border: none !important;
}
.CardOptions .css-1pahdxg-control:focus{
border: #3F3F44 !important;
}
.CardOptions .css-1gtu0rj-indicatorContainer{
    padding: 0px !important;
}
.CardOptions .css-6j8wv5-Input{
    height: 13px;
}
.CardOptions .css-26l3qy-menu{
    margin-top: 6px !important;

}
.CardOptions .css-yt9ioa-option{
    padding: 5px 8px !important
}
.CardOptions .css-14el2xx-placeholder{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
display: flex;
justify-content: center;
align-items: center;
color: #000000;
}

.CardOptions .css-1n7v3ny-option{
    padding: 5px 8px !important;
}
.CardOptions .css-yt9ioa-option{
    padding: 5px 8px !important;
}
.CardOptions
    .css-qc6sy-singleValue {
        color: hsl(0, 0%, 20%);
        grid-area: 1/1/2/3;
        margin-left: 7px;
        margin-top: 0px;
        margin-right: 2px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 12px;
}

/* PreSelected View Css */


.preLargebtn{   font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
letter-spacing: -0.105991px;
text-transform: uppercase;
color: #FE8700;
border: 0px;
background: #FFF7EE;
border-radius: 100px;
padding: 10px 20px !important;
}
.preColorRowSelected{
    background: #FFF7EE;
box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
border-radius: 10px;
}

.preColorRowSelected p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #333333;

}
.customerProfil{
    background: #032339;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
padding: 12px 30px;

}
.customerProfil img{
margin-right: 8px;
}
.CommentSelection{
    font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 24px !important;
display: flex !important;
align-items: center !important;
color: #000000 !important;
}

.btn-moveProgress{
    background: #A461D8;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 15px 30px;
}