
body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #e7e7e7;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: orange;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }

.bg-class{
    background-color: #ffff !important;
        margin: 15px 0px;
        border-radius: 15px;
        padding: 20px;
}
.top-pd{
    padding: 15px 0px;
}
.stable img{
    padding-right: 10px;
}
.bg-btn{
    background-color: #C4C4C4;
    border-radius: 13px;
    font-weight: 700;
font-size: 13px;
line-height: 20px;
letter-spacing: -0.105991px;
text-transform: uppercase;
}
.btn-bgb{
    background-color: #032339;
    color: #ffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.105991px;
    text-transform: uppercase;  
    color: #FFFFFF
}
.btn-bgb img{
    width: 20px;
    margin-inline: 5px;
}
.btn-gray{
    background-color: #C4C4C4;
    font-weight: 400;
font-size: 35px;
line-height: 42px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 13px;
width: 242px;
height: 52px;
}

.end-class p{
    margin-bottom: 0px !important;
}
.btn-email{
    background-color:#B5B5BE;
    color :white;
    border: 1px solid #000000;
    width: 379px;
height: 50px;
box-sizing: border-box;
border-radius: 18px;
}
.btn-see{
    background-color:#3F76E2;;
    color :white;
    border: 1px solid #000000;
    width: 379px;
height: 50px;
box-sizing: border-box;
border-radius: 18px;
margin-bottom: 5px ;
}
.padding-email{
    padding-right: 10px;
}
.padding-email img{
width: 15%;
}

.btn-whatsapp{
    background-color: #489767;
}
.parent-p{
    padding-top: 5px;
}
.parent-p p{
    font-weight: 600;
font-size: 24px;
line-height: 26px;
text-decoration-line: underline;
padding-right: 10px;
color: #000000;
}
.Todo-CardMore{
    padding: 10px;
}
.Todo-CardMore p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 45px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom:0px ;
}

.Todo-CardMore-span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 43px;
    color: #000000;
    margin-bottom:0px ;
    margin-left:5px;
    text-decoration-line: unset !important;
}
.blue-text{
color:#3F76E2 !important

}
.btn:hover{
    color: #FFFFFF;
}
.btn-black:hover {
    color: #FE8700;
}
.parent-p  span{
text-decoration-line: unset !important;    
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #000000;
}
.exp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;  
    display: flex;
    align-items: center;  
    color: #000000;  
}
tbody{
    background-color: white !important;
 }
 thead{
    background: #F4F4F4;
 }
 .btn-Todoupload{
     background-color: #C4C4C4;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 21px;
     margin-top: 5px;
     padding: 5px;
 }
 .box-size{
    width: 99%;
    text-align: center;
    border: 1px solid #ffff;
    border-radius: 10px;
    background: currentColor;
 }
 .box-size p{
     color: #000000;
     font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 33px;
margin-bottom: 0px !important;
 }
 .child-p p{
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    text-decoration-line: underline;
    padding-right: 10px;
    color: #000000;
    margin-bottom: 0px;
 }
 .child-p span{
    text-decoration-line: unset !important;    
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
 }
 .btn-move{
    background-color: #A461D8;
    color: #ffff;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 16px;
padding: 20px;
border-radius: 8px;
 }
 .btn-red{
    color: #ffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    padding: 20px;
    border-radius: 8px;
    background-color: #FF0000;
 }
 .btn-black{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
     background-color: #032339;
     color: #FE8700;
     border-radius: 8px;
     padding: 18px;
     display: flex;
     align-items: center;
 }
 .btn-black img{
    padding-right: 5px;
    width: 20%;
 }
.italic-fontStyle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
    padding-left: 10px;
    margin-top: 10px;
}
.card-xl p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;  
    display: flex;
    align-items: center; 
    color: #000000;
}
.card-xl p:last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;  
    display: flex;
    align-items: center; 
    color: #000000;
    width: 125%;
}
.image-select{
    width: 18px;
    border-radius: 50px;
    height: 18px;
    position: relative;
    right: -35px;
    bottom: 20px;
}

.card-xlSpan{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;  
    display: flex;
    align-items: center; 
    color: #000000;
}
.btn:hover {
    color: #212529;
}
.btn-bgb:hover {
    color: #FE8700;
}
.card-TodoProfile{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #000000;
}
.bg-todoTodoDetails{
    background: #FFFFFF;
box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
border-radius: 10px;
margin-top: 10px;
padding-top: 30px;
}
.todoBtnStyle{
background: #E4F4FF;
border-radius: 100px;
border: 0px;
padding: 13px 30px;
}
.Social-Card{
background: #FFFFFF;
box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
border-radius: 10px;
}
.Span-Styling{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;

color: #000000;
}
.btn-TODOgmail{
    background: #FFFFFF;
    box-shadow: 0px 2px 48px rgb(0 0 0 / 4%);
    border-radius: 30px;
    border: 1px solid #000000;
    padding: 15px 115px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
color: #000000;
width: 100%;
height: 54PX;
}
.scroll-Style{
    max-width: 49%;
    overflow-y: scroll;
    height: 378px;
}
.scrollbar
{
	float: left;
	height: 388px;
	width: 70px;
	background: #ffff;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 450px;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background: #E0E0E0;
}
.btn-preSelected {
    background: #3F76E2;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 15px 29px;
    border: 0px;
}
.btn-Archived{
    background: #FF0000;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 27px;
color: #FFFFFF;
padding: 16px 25px;
border: 0px;

}
.btn-EditProfile{
    background: #032339;
border-radius: 100px;
padding: 10px 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
padding: 14px 38px;

}
.btn-CVManual{
    background: #032339;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 27px;
color: #FFFFFF;
padding: 14px 24px;

}
.CandidateCV{
    background: #E6EEFF;
    border: 1px dashed #3F76E2;
    border-radius: 8px;
    width: 100%;
    height: 90px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UploadCandidat{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #032339;
    
}
input[type="file" i] {
    background: transparent;
    color: #E6EEFF;
    width: 143% !important;
    position: absolute;
    height: 115%;
    left: -134px !important;

}
.dropFile{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: flex-start;
color: #032339;

}
.z-index{
    z-index: 1000px;
    
}
.FontStyleUpload{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #3F3F44;
}
.candidatecVs{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #3F3F44;
}

._react_fileupload_form_content
 [type=submit]{
border: 0px;
padding: 2px 10px;
margin-top: 12px;
background: orange;
border-radius: 15px;
margin-left: 15px;
}
.btnDownload{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
text-align: center;
color: #3F76E2;
background: #E5EEFF;
border-radius: 100px;
border:0px;
padding: 10px;
}
.download-font{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #3F3F44;
}
.CardClassDownload{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
   padding: 10px;
   width: 100%;
}
._react_fileupload_progress_content div:first-child{
    width: 310px !important;
}
.FontMatchedStyle{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 16px;
color: #000000;
}
.FontStylingCardtext{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #000000;
padding-top: 3px;
}
.btnMatched{
background: #032339;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
padding: 5px 20px;
}
.btnNotMatched{
    background: #FFFFFF;
    box-shadow: 0px 2px 48px rgb(0 0 0 / 4%);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #032339;
    width: 90% !important;
    padding: 5px 3px;
    border-radius: 20px;
}
.AnneesStyle p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
text-decoration-line: underline;
color: #000000;
margin-bottom: 0px

}
.AddressEnteredBy p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #000000;  
    margin-bottom: 0px;
    padding-top:5px;

}
.AddressEnteredBy span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: unset;
    color: #000000; 
    padding-top:5px;
    padding-left: 5px;

}
.noteThis{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
display: flex;
align-items: flex-end;
color: #000000;
padding-top: 5px;
}
.AnneesStyle span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
text-decoration-line: none !important;
color: #000000;
padding-left: 5px;

} 
.Todoupload .css-1s2u09g-control{
    width: 25px;
    min-height:25px !important;
    border-radius: 25px !important;
    position: relative;
    top: -25px;
    left: 68%;
}
.Todoupload .css-319lph-ValueContainer{
    display: none !important;
}
.Todoupload .css-tlfecz-indicatorContainer{
    padding: 0px !important;
}
.Todoupload .css-26l3qy-menu{
position: relative !important;
top: -30px !important;
right: 11px !important;

}
.Todoupload .css-1n7v3ny-option {

    padding: 8px 2px !important
}

.Todoupload .css-yt9ioa-option{
    padding: 8px 2px !important
}

.CardOptions .css-14el2xx-placeholder{
    position: relative;
    margin-right: 5px !important;
}
.CardOptions .css-tlfecz-indicatorContainer {
    padding: 0px !important;
}
.CardOptions .css-1s2u09g-control {
    border-radius: 25px !important;
    min-height: 25px !important;
    display: flex;
    width: 112px;
    height: 32px !important;
}
.css-1okebmr-indicatorSeparator {
   display: none;
}
.CardOptions .css-1okebmr-indicatorSeparator {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: #FFFFFF;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
}
.CardOptions .css-14el2xx-placeholder {
display: flex;
}
.CardOptions .css-6j8wv5-Input{
    margin: 0px !important;
    padding: 0px !important;
}
.CardOptions .css-1pahdxg-control{
      box-shadow: 0 0 0 1px #000000 !important;
      max-height: 17px !important;
      display: flex;
      width: 112px;
      border-radius: 25px !important;
      border: none !important;
      min-height: 31px !important;
}
.CardOptions .css-1pahdxg-control:focus{
border: #3F3F44 !important;
}
.CardOptions .css-1gtu0rj-indicatorContainer{
    padding: 0px !important;
}
.CardOptions .css-6j8wv5-Input{
    height: 13px;
}
.CardOptions .css-26l3qy-menu{
    margin-top: 6px !important;

}
.CardOptions .css-yt9ioa-option{
    padding: 5px 5px !important
}
.CardOptions .css-14el2xx-placeholder{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
display: flex;
justify-content: center;
align-items: center;
color: #000000;
margin-left: 6px;
margin-right: 0px !important;
}
.css-9gakcf-option:active {
    background-color: #fe8700 !important;
    text-align: start;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #373A3C;
  padding: 5px 10px !important
}
.CardOptions .css-1n7v3ny-option{
    padding: 5px 5px !important;
    text-align: start;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #373A3C;
  background-color: unset !important;
  padding: 5px 10px !important
}
.CardOptions .css-1n7v3ny-option:hover{
    background-color:#fe8700 !important ;
}
.CardOptions .css-yt9ioa-option{
    padding: 5px 5px !important;
    text-align: start;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #373A3C;
  padding: 5px 10px !important
}
.css-yt9ioa-option:active {
    background-color: #fe8700 !important;
    padding: 5px 5px !important;
    text-align: start;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #373A3C;
  padding: 5px 10px !important
}
.css-9gakcf-option {
    text-align: start;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 24px;
  color: #373A3C !important;
  padding: 5px 10px !important
}
.CardOptions
    .css-qc6sy-singleValue {
        color: hsl(0, 0%, 20%);
        grid-area: 1/1/2/3;
        margin-left: 7px;
        margin-top: 0px;
        margin-right: 2px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 12px;
        z-index: 9999999;
}

/* PreSelected View Css */


.preLargebtn{   font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
letter-spacing: -0.105991px;
text-transform: uppercase;
color: #FE8700;
border: 0px;
background: #FFF7EE;
border-radius: 100px;
padding: 10px 20px !important;
}
.preColorRowSelected{
    background: #FFF7EE;
box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
border-radius: 10px;
}

.preColorRowSelected p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #333333;

}
.customerProfil{
    background: #032339;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
padding: 12px 30px;

}
.customerProfil img{
margin-right: 8px;
}
.CommentSelection{
    font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 24px !important;
display: flex !important;
align-items: center !important;
color: #000000 !important;
}

.btn-moveProgress{
    background: #A461D8;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 15px 30px;
}
.experience{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
color: #000000;
}
.topCandidateHeader{
    padding: 0px 15px;
    border-radius: 10px;
    margin-bottom: 0px;
    height: 77px;
}
.Social-btns{
        height: 500px;
}
.Social-btnsTwo{
    margin-right: 10px;
    height: 500px;    max-width: 57% !important;
}
.img-Todoupload-Download{

    width: 125px;
    object-fit: cover;
    height: 125px;
    border-radius: 100px;
    border: 4px solid rgb(63, 118, 226);
}
.react-multi-carousel-list{
    justify-content: center;
}
.read-more-button{
    cursor: pointer;
}

@media (min-width:768px){

    .pdf-btn {
        background: #3F76E2;
        border-radius: 100px;
        border: 0px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        padding: 18px 25px;
        color: #FFFFFF;
    }
    .btnNotMatched {
        background: #FFFFFF;
        box-shadow: 0px 2px 48px rgb(0 0 0 / 4%);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 21px;
        color: #032339;
        width: 90% !important;
        padding: 5px 3px;
        border-radius: 20px;
    }
    .btn-bgblack img{
        width:15px
    }
    .paddingForLarge{
padding: 0px;
    }
    .btn-bgblack {
        background-color: #032339;
        font-weight: 700;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 10px ;
        line-height: 20px ;
        letter-spacing: -0.105991px;
        text-transform: uppercase;
        border-radius: 25px;
        color: #ffffff;
        margin-top: 0px;
        padding: 5px 9px;
    }
    .todoBtnStyle img{
        width: 70% !important;
    }
    .topCandidateHeader{
        padding: 0px 15px;
        border-radius: 10px;
        margin-bottom: 0px;
        height: 50px;
    }
    .btn-bgb {
        background-color: #032339;
        font-weight: 700;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 8px !important;
        line-height: 7px;
        letter-spacing: -0.105991px;
        text-transform: uppercase;
        border-radius: 25px;
        color: #ffffff;
        padding: 7px 9px !important;
        margin-top: 0px !important;
    }
    .card-Leads {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 33px;
        letter-spacing: 1px;
        color: #252726;
    }
    .card-TodoProfile {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 6px;
        color: #000000;
    }
    .todoBtnStyle {
        background: #E4F4FF;
        border-radius: 100px;
        border: 0px;
        padding: 6px 10px;
    }
    .end-class p {
          padding-left: 0px !important;
    }
    .fw-boldEn{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 0px;
color: #000000;
    }
    .card-xlSpan { 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 21px;
color: #000000;
}
.bg-todoTodoDetails {
    background: #FFFFFF;
    box-shadow: 0px 2px 48px rgb(0 0 0 / 4%);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px 0px 15px 0px;
}
.Social-btns{
    height: 370px;
}
.Social-btnsTwo{
    margin-right: 0px;
    height: 370px;
}
.Span-Styling {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 0px;
    color: #000000;
    padding: 0px !important;
    width: 112%;
}
.btn-TODOgmail {
        background: #FFFFFF;
        width: 100%;
        height: 39px;
        box-shadow: 0px 2px 48px rgb(0 0 0 / 4%);
        border-radius: 30px;
        border: 1px solid #000000;
        padding: 13px 25px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 0px;
        color: #000000;
        margin: 0px !important;
}
.btn-facebook{
    background: #3F76E2;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    padding: 13px 31px;
    line-height: 15px;
    border: 0px;
    color: #ffffff;
    width: 100%;
    height: 39px;
margin:0px !important;
}
.btn-whatsapp {
    background-color: #489767;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 0px;
    color: #FFFFFF;
    border: 0px;
    padding: 13px 27px;
    width: 100%;
    height: 39px;
    margin: 0px !important;
}
.Todo-CardMore p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 0px;
}
.bluetextCardSee{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 16px;
    text-decoration-line: unset;
    color: #3F76E2; 
}
.Todo-CardMore-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 0px;
    margin-left: 5px;
    text-decoration-line: unset !important;
}
.AnneesStyle p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 0px;
}
.AnneesStyle span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: none !important;
    color: #000000;
    padding-left: 5px;
}
.AddressEnteredBy p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 0px;
    padding-top: 5px;
}
.AddressEnteredBy span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: unset;
    color: #000000;
    padding-top: 5px;
    padding-left: 5px;
}
.noteThis {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    padding-top: 5px;
}
.pd-00x12{
padding: 10px 20px;
}
.FontMatchedStyle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
}
.FontStylingCardtext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
    padding-top: 3px;
}
.Todoupload .css-1s2u09g-control {
    width: 24px;
    min-height: 19px !important;
    border-radius: 66px !important;
    position: relative;
    top: -21px;
    left: 85%;
    border: 2px solid #979797;
}
.table thead th {
    vertical-align: top;
    border-bottom: 2px solid #dee2e6;
}
.img-uploadTodo-Download{
        width: 80px;
        object-fit: cover;
        height: 80px;
        border-radius: 100px;
        border: 4px solid rgb(63, 118, 226);
}
.Todoupload .css-26l3qy-menu {
    top: 100%;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #e2e2e285;
    box-shadow: 0 0 0 1pxhsla(0, 0%, 0%, 0.1),0 4px 11pxhsla(0, 0%, 0%, 0.1) !important;
    margin-bottom: -30px;
    border-radius: 10px;
    margin-top: 8px;
    position: absolute;
    width: 224%;
    z-index: 1;
    box-sizing: border-box;
    margin-top: 19px;
}
.card-bodyTodo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
    padding: 0rem 0rem 0rem 0rem !important;
}

}
@media (min-width: 1200px) { 
  
   
    .card-todoBody{
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        min-height: 1px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .img-uploadTodo-Download {
        width: 125px;
        object-fit: cover;
        height: 125px;
        border-radius: 100px;
        border: 4px solid rgb(63, 118, 226);
    }
.btn-EditProfile img {
width: 21px;
margin-right: 5px;
}
    .detailsCardClientSee{
        max-width: 55%;
    }
    .btn-bgblack img {
        width: 20px;
    }
    .btn-bgblack {
        background-color: #032339;
        font-weight: 700;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 13px ;
        line-height: 20px ;
        letter-spacing: -0.105991px;
        text-transform: uppercase;
        border-radius: 25px;
        color: #ffffff;
        margin-top: 0px;
        padding: 10px 20px;
    }
    .Todoupload .css-26l3qy-menu {
        top: 100%;
        background-color: hsl(0, 0%, 100%);
        border: 1px solid #e2e2e285;
        box-shadow: 0 0 0 1pxhsla(0, 0%, 0%, 0.1),0 4px 11pxhsla(0, 0%, 0%, 0.1) !important;
        margin-bottom: -30px;
        border-radius: 10px;
        margin-top: 8px;
        position: absolute;
        width: 111%;
        z-index: 1;
        box-sizing: border-box;
        margin-top: 19px;
    }
    .AddressEnteredBy span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-decoration-line: unset;
        color: #000000;
        padding-top: 5px;
        padding-left: 5px;
    }
    .AddressEnteredBy p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        color: #000000;
        margin-bottom: 0px;
        padding-top: 5px;
    }
    .noteThis {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        align-items: flex-end;
        color: #000000;
        padding-top: 5px;
    }
    .AnneesStyle p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        color: #000000;
        margin-bottom: 0px;
    }
    .AnneesStyle span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-decoration-line: none !important;
        color: #000000;
        padding-left: 5px;
    }
    .Todo-CardMore-span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 43px;
        color: #000000;
        margin-bottom: 0px;
        margin-left: 5px;
        text-decoration-line: unset !important;
    }
    .bluetextCardSee {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 16px;
        text-decoration-line: unset;
        color: #3F76E2;
    }
    .Span-Styling {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 0px;
        color: #000000;
    }

.btn-TODOgmail {
background: #FFFFFF;
box-shadow: 0px 2px 48px rgb(0 0 0 / 4%);
border-radius: 30px;
border: 1px solid #000000;
width: 100%;
height: 54px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px !important;
line-height: 16px;
color: #000000;

 }
 .Social-btns {
    height: 543px;
}  
.Social-btnsTwo {
    margin-right: 0px;
    height: 543px;
    padding: 10px 0px;
}
.Todo-CardMore p {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 45px;
text-decoration-line: underline;
color: #000000;
margin-bottom: 0px;
}
.topCandidateHeader {
        padding: 0px 15px;
        border-radius: 10px;
        margin-bottom: 0px;
        height: 77px;
    }
    .fw-boldEn {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 0px;
        color: #000000;
    }
    .todoBtnStyle {
        background: #E4F4FF;
        border-radius: 100px;
        border: 0px;
        padding: 13px 30px;
    }
    .img-Todoupload-Download {
        width: 125px;
        object-fit: cover;
        height: 125px;
        border-radius: 100px;
        border: 4px solid rgb(63, 118, 226);
    }
    .card-TodoProfile {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }
    .btn-TODOgmail {
        background: #FFFFFF;
        box-shadow: 0px 2px 48px rgb(0 0 0 / 4%);
        border-radius: 30px;
        border: 1px solid #000000;
       width: 100%;
       height: 54px;
       padding: 8px;
       font-family: 'Poppins';
       font-style: normal;
       font-weight: 400;
       font-size: 16px !important;
       line-height: 33px;
       color: #000000;
       margin: 16px 0px !important;
    }
    .btn-facebook{
       
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        width: 350px;
        height: 54px;
        box-sizing: border-box;
        border-radius: 100px;
        background: #3F76E2;
        border-radius: 100px;
       margin: 16px 0px !important;

    }
    .btn-whatsapp a{
        width: 350px;
        height: 54px;
        box-sizing: border-box;
        border-radius: 100px;
        margin-bottom: 5px;
        margin-top: 25px;
        background-color: #489767;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
       margin: 16px 0px !important;

    }
    .btn-whatsapp {
        width: 350px;
        height: 54px;
        box-sizing: border-box;
        border-radius: 100px;
        margin-bottom: 5px;
        margin-top: 25px;
        background-color: #489767;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
       margin: 16px 0px !important;

    }
    .card-Leads {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 1px;
        color: #252726;
    }
    .card-TodoProfile {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }
    .todoBtnStyle img {
        width: 100% !important;
    }
    .Todoupload .css-1s2u09g-control {
        width: 24px;
        min-height: 19px !important;
        border-radius: 66px !important;
        position: relative;
        top: -21px;
        left: 70%;
        border: 2px solid #979797;
    }
 
}
 @media (min-width:1400px){
    .paddingForLarge{
    padding: 5px;
    }
    .Social-btns {
        height: 584px;
        padding: 10px 0px !important;

    }
    .Todoupload .css-1s2u09g-control {
        width: 24px;
        min-height: 19px !important;
        border-radius: 66px !important;
        position: relative;
        top: -21px;
        left: 64%;
        border: 2px solid #979797;
    }
    .todoBtnStyle img {
        width: 100% !important;
    }
    .card-TodoProfile {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }
    .Social-btnsTwo {
        margin-right: 0px;
        height: 584px;
        padding: 10px 0px;
    }
    .btn-TODOgmail {
        background: #FFFFFF;
        box-shadow: 0px 2px 48px rgb(0 0 0 / 4%);
        border-radius: 30px;
        border: 1px solid #000000;
       width:90%;
       height: 64px;
       padding: 8px;
       font-family: 'Poppins';
       font-style: normal;
       font-weight: 400;
       font-size: 16px !important;
       line-height: 33px;
       color: #000000;
    }
    .btn-facebook{
       
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        width: 90%;
        height: 64px;
        box-sizing: border-box;
        border-radius: 100px;
        background: #3F76E2;
        border-radius: 100px;
    }
    .btn-facebook img{
width: 4% !important;
margin-right: 5px;
    }
    .btn-whatsapp a{
        width: 90%;
        height: 64px;
        box-sizing: border-box;
        border-radius: 100px;
        margin-bottom: 5px;
        margin-top: 25px;
        background-color: #489767;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    .btn-whatsapp {
        width: 90%;
        height: 64px;
        box-sizing: border-box;
        border-radius: 100px;
        margin-bottom: 5px;
        margin-top: 25px;
        background-color: #489767;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    .btn-whatsapp img{
margin-right: 5px;
    }
 }
@media (min-width: 1400px) { 
    .detailsCardClientSee{
        max-width: 56%;
    }
    .paddingForLarge{
        padding: 0px;
    }
    .img-uploadTodo-Download {
        width: 141px;
        object-fit: cover;
        height: 141px;
        border-radius: 100px;
        border: 4px solid rgb(63, 118, 226);
    }
    .Todoupload .css-26l3qy-menu {
        top: 100%;
        background-color: hsl(0, 0%, 100%);
        border: 1px solid #e2e2e285;
        box-shadow: 0 0 0 1pxhsla(0, 0%, 0%, 0.1),0 4px 11pxhsla(0, 0%, 0%, 0.1) !important;
        margin-bottom: -30px;
        border-radius: 10px;
        margin-top: 8px;
        position: absolute;
        width: 100%;
        z-index: 1;
        box-sizing: border-box;
        margin-top: 19px;
    }
    .card-Leads {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 1px;
        color: #252726;
    }
    .card-TodoProfile {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }
    .img-Todoupload-Download {
        width: 125px;
        object-fit: cover;
        height: 125px;
        border-radius: 100px;
        border: 4px solid rgb(63, 118, 226);
    }
    .todoBtnStyle {
        background: #E4F4FF;
        border-radius: 100px;
        border: 0px;
        padding: 13px 30px;
    }
    .fw-boldEn {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 0px;
        color: #000000;
    }
    .topCandidateHeader {
        padding: 0px 15px;
        border-radius: 10px;
        margin-bottom: 0px;
        height: 77px;
    }
    .Span-Styling {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 0px;
        color: #000000;
    }
    .Social-btnsTwo {
        margin-right: 0px;
        height: 445px;
        padding: 10px 0px;
    }
.Todo-CardMore p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 45px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 0px;
}
.bluetextCardSee {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 16px;
    text-decoration-line: unset;
    color: #3F76E2;
}
.Todo-CardMore-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 0px;
    margin-left: 5px;
    text-decoration-line: unset !important;
}
.AnneesStyle p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 0px;
}
.AnneesStyle p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 0px;
}
.AnneesStyle span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: none !important;
    color: #000000;
    padding-left: 5px;
}
.AddressEnteredBy span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: unset;
    color: #000000;
    padding-top: 5px;
    padding-left: 5px;
}
.AddressEnteredBy p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 0px;
    padding-top: 5px;
}
.noteThis {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    padding-top: 5px;
}
    }
 