@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
}

.note-spl {
    font-weight: bold;
}

.col-spl {
    color: #A461D8;
}

.pd {
    padding-top: 30px;
}
.css-1d8n9bt {
padding: 0px !important;
}
.UploadSelect{
    padding: 10px !important;
}
.UploadModalContainer{
    position: relative !important;
    width: 168px !important;
    height: 135px !important;
    left: -99px !important;
    top: -25px !important;
}
.UploadModal{
        max-width: 164px;
        margin: 1.75rem auto;
}
.SelectBtn{
    background: white;
    border-radius: 40px;
    border: 2px solid #979797;
    width: 25px;
    height: 25px;
    top: -22px;
    position: relative;
    right: -34px;
}
.css-1vp9nu5-control {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    border-color: unset !important;
    border-radius: 25px !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0 !important;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 45px !important;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
}
.preSelect .css-1vp9nu5-control {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    border-color: unset !important;
    border-radius: 25px !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0 !important;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 39px !important;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
}
.text-family {
    padding-top: 10px !important;
}

.text-family span {
    text-decoration: underline;
}

.h-child-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #000000;
}
.FiltreName{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 12px;
margin-bottom: 0.5rem;
}
.fadeClass001{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #92929D;
}
.box {
    overflow: scroll;
    border: none !important;
    
}

.box::-webkit-scrollbar {
    display: none;
}

.box p {
    padding-left: 10px;
    padding-bottom: 2px;
    margin-bottom: 0px !important;
}

.last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0px;
    margin-bottom: 0px !important
}

hr.new5 {
    margin-top: 20px;
    border: 2px solid #000000;
    height: 1px !important;
    border-radius: 34px;
}

.pd {
    padding-top: 30px;
}

.pd-left {
    padding-right: 10px !important;

}

.row>* {
    /* padding-right: unset !important; */
}

.card-upper img {
    width: 65px;
    padding: 10px 4px;
}

.card-upper {
    display: flex;

}
.card-color {
    background-color: #ffff;
    border-radius: 16px;
    padding: 10px;
}


.card-body {
    padding: 0.5rem 0rem !important;
}

.todo {
    background: transparent;
 
}

.card-body p {
    margin-bottom: 0px !important;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
   
}


.card-body small {
    padding-right: 80px;
}

.btn-card {
    height: 20px;
    background: #032339;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 70px ;
    font-size: 8px !important;
    padding: 2px 0px 0px 0px !important;
    border-radius: 0px !important;
}

.btn-cardLeft {
    background-color: #A461D8;
    color: #ffff;
    height: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 70px;
    font-size: 6px !important;
    padding: 2px 0px 0px 0px !important;
    border-radius: 0px !important;
}


.btn-cardRight1 {
    height: 20px;
    background: black;
    color: #FE8700;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 70px;
    font-size: 8px !important;
    padding: 0px !important;
    border-radius: 0px !important;
}

.btn-cardRight {
    height: 20px;
    background: #FF0000;
    color: #ffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 70px;
    font-size: 6px !important;
    padding: 0px !important;
    border-radius: 0px !important;
}

.job-ul>a {
    list-style: none !important;
    text-decoration: none !important;
    width: 100%;
    color: #000000;
}
.tick{
    background-image: url("../images/tick.svg");
    height: 20px;
    width: 20px;
 }
 .cardColorRow{
    background-color: #E4F4FF;
    padding: 3px;
}
.Licence{
    font-weight: 400;
    font-size: 10px;
    padding: 5px;
}
.NoLicence{
    font-weight: 400;
    font-size: 10px;
    padding: 5px;
}

.pd-00X1{
    padding-top: 5px;
}
.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group .Licence:before {
    content:'';
    -webkit-appearance: none;
    background-color: black;
  
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius:50px
      
  }

  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 8px;
    width: 6px;
    height: 9px;
    border: solid #ffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .form-group .NoLicence:before {
    content:'';
    -webkit-appearance: none;
    background-image: url("../images/cross.svg");
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius:50px;
    height: 13px !important;
    vertical-align: middle;
    cursor: pointer;
    width: 13px;
    margin-right: 5px;
    border-radius: 50px;
  }
  .selectOption{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 100px;
    width: 100%;
  }
  .rounded001{
    border-radius: 10px;
    margin-bottom: 20px;
}
  .firstoption{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;  
    height: 25px;
    padding-left: 7px;
    display: flex;
    align-items: center;  
    color: #000000;
  }
/*  */

/* .inputBox{
    display: none;
 } */

 .fontStylinForcards{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 8px;
    display: grid;
    align-items: center;  
    color: #000000;
    padding: 10px 10px;
 }
 
 .filterStyling{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #373A3C;
 }
 .extraPadding{
    padding-left: 0px !important;
 }
 .cursor-pointer{
    cursor: pointer;
 }

 /* Modal  */
 .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900005000;
 }
 .css-14el2xx-placeholder{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #92929D;
 }
 .inputDate{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-transform: capitalize;
    color: #92929D;
 }
 .btn-viewprofile-card {
    background: #032339;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    width: 112px !important;
    font-size: 8px !important;
    padding: 0px 0px 0px 0px !important;
    border-radius: 25px !important;
    height: 32px !important;
font-family: 'Poppins';
font-style: normal;
font-weight: 600 !important;
font-size: 12px !important;
line-height: 16px !important;
color: #FFFFFF !important;
}
.css-qc6sy-singleValue{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
text-transform: capitalize;
color: #92929D;
padding-left: 10px;
}
.age00{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #000000;

}
.WAIT-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #3F3F44;
}

@media (min-width:768px) {
    .fontStylinForcards {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 8px;
        display: grid;
        align-items: center;
        color: #000000;
        padding: 10px 3px;
    }
    .FiltreName {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 0.5rem;
    }
    .card-upper img {
        width: 75px;
        padding: 10px 4px;
    }
    .todoCardbody {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500 ;
        font-size: 12px ;
        line-height: 21px;
        color: #000000;
    }
    .todoCardbody-p{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400 ;
font-size: 12px ;
line-height: 21px ;
color: #000000 ;
    }
    .h-child-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;
        color: #000000;
    }
    .todoCardbodyBlue {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }
}


@media screen and (min-width: 1200px){
    .SelectBtn {
        background: white;
        border-radius: 40px;
        border: 2px solid #979797;
        width: 25px;
        height: 25px;
        top: 99px;
        position: absolute;
        right: 26px;
    } 
    .h-child-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;
        color: #000000;
    }
    .CardOptions .css-1s2u09g-control {
        border-radius: 25px !important;
        min-height: 25px !important;
        display: flex;
        width: 130px;
        height: 32px !important;
    }
    
    .btn-viewprofile-card {
        height: 24px;
        background: #032339;
        color: #ffffff;
        border-radius: 15px !important;
        font-weight: 600;
        font-size: 11px !important;
        line-height: 16px;
        width: 130px !important;
        padding: 0px  !important;
    }
    .FiltreName {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 12px;
        margin-bottom: 0.5rem;
    }
    .card-upper img {
        width: 75px;
        padding: 10px 4px;
    }
    .todoCardbody{
        font-family: 'Poppins';
font-style: normal;
font-weight: 500 ;
font-size: 12px ;
line-height: 21px ;
color: #000000 ;
    }
    .todoCardbody-p{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400 ;
font-size: 12px ;
line-height: 21px ;
color: #000000 ;
    }
    .todoCardbodyBlue{
        font-family: 'Poppins';
font-style: normal;
font-weight: 600 ;
font-size: 12px ;
line-height: 16px ;

    }
}  
@media (min-width: 1400px) { 
    .SelectBtn {
        background: white;
        border-radius: 40px;
        border: 3px solid #979797;
        width: 25px;
        height: 25px;
        top: 110px;
        position: absolute;
        right: 31px;
    }
    .h-child-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;
        color: #000000;
    }
    .FiltreName {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 12px;
        margin-bottom: 0.5rem;
    }
    .CardOptions .css-1s2u09g-control {
        border-radius: 25px !important;
        min-height: 25px !important;
        display: flex;
        width: 120px;
        height: 32px !important;
    }
    .btn-viewprofile-card {
        height: 24px;
        background: #032339;
        color: #ffffff;
        width: 100%;
        border-radius: 15px !important;
        font-weight: 600;
        font-size: 12px !important;
        line-height: 16px;
        width: 110px !important;
        padding: 0px  !important;
    }
    .card-upper img {
        width: 90px;
        padding: 10px 4px;
    }
    .fontStylinForcards {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 8px;
        display: grid;
        align-items: center;
        color: #000000;
        padding: 10px 0px;
    }
.age00 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
}
.todoCardbody {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500 ;
    font-size: 16px ;
    line-height: 26px ;
    color: #000000 ;
}
.todoCardbody-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400 ;
    font-size: 16px ;
    line-height: 26px ;
    color: #000000 ;
}
.todoCardbodyBlue {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 16px !important;
}
}
/* @media (min-width: 1350px) { 
    .SelectBtn {
        background: white;
        border-radius: 40px;
        border: 2px solid #979797;
        width: 25px;
        height: 25px;
        top: -24px;
        position: relative;
        right: -32px;
    }

} */
