
.padding-bottom{
    margin-bottom: 0px !important;
}
tbody{
   background-color: white !important;
}
.hero-title{
    border-bottom: 2px solid black;
}
.hero-title * {
    font-weight: 700;
}
.add-form{
    background: #ffff;
    padding: 1rem;
}
.text-small{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9px !important;
    line-height: 14px;
    display: flex;
    align-items: flex-end;  
    color: #FF0000;
}
.form-select{
    border-radius: 20px;
    height: calc(2.75rem + 2px);
}
.radioBtn{
    background: #FE8700;
    border-radius: 100px;
    border: 0px;
    width: 73px;
    height: 28px;

}
.radioBtnNo{
    background: #CCCCCC;
border-radius: 100px;
border: 0px;
width: 50px;
}
.form-control{
    border-radius: 20px;
}
.Form-styling{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: flex-end;
text-transform: capitalize;
color: #373A3C;
}
.amount-fields span{
    background: #ECEEEF;
    display: grid;
    place-items: center;
    color: #999999;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #CCCCCC;
}
.amount-fields input{
    border: 1px solid #CCCCCC;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
}
.submit-btn-hold{
    border-radius: 25px;
    overflow: hidden;
    width: 90%;
    display: flex;
}
.submit-btn-hold .btn{
    border-radius: 25px;
    width: 80%;
    margin: auto;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.Form-styling-child{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;  
    color: #373A3C;
}
.f-text{
    font-family: 'Arial';
font-style: italic;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
}
.font-Emoji{ 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #CCCCCC;
}
.css-1s2u09g-control {
border-radius: 25px !important;
min-height: 45px !important;
}
.css-1t8y0t9-control {
    border-radius: 25px !important;
min-height: 45px !important;
}
.css-1rhbuit-multiValue {
    background-color: #f6e1ce !important;
    border-radius: 25px !important;}
.btn-stylingEnd{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
border-radius: 35px;
padding: 10px 40px;
background-color: #032339;
}
.css-xb97g8 {
    position: relative;
    top: -7px;
    right: 0px;
    /* background: black; */
    /* border-radius: 57px; */
    /* height: 11px; */
    padding: -2px 9px;
    padding: 2px 10px;
    background: #00000070 !important;
    border-radius: 26px !important;
    height: 15px !important;
    width: 15px !important;
    right: -4px !important;
    top: -4px !important;

}
.css-12jo7m5 {
    border-radius: 2px;
    color: hsl(0, 0%, 20%);
    font-size: 85%;
    overflow: hidden;
    padding: 3px !important;
    padding-left: 15px !important;
}

/* .radiobtn button::after   + input:checked {
    background-color: #FE8700;
} */


.container{
    display: block;
    position: relative;
    margin: 40px auto;
    height: auto;
    width: 500px;
    padding: 20px;
  }
  
  
  .permis-UL .permis-LI{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
  }
  
  .permis-UL .permis-LI input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  
  .permis-UL .permis-LI label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    font-size: 1.35em;
    font-size: 15px;
    margin-left: 1px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    background: #CCCCCC;
    border-radius: 100px;
    border: 0px;
    width: 65px;
  }
  .permis-UL .permis-LI label p{  
    margin-left: 30px;
    font-size: 14px;
  }
  .permis-UL .permis-LI:hover label{
      color: black;
      
  }
  
  .permis-UL .permis-LI .check{
    display: block;
    position: absolute;
    border: 5px solid #ffff;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 3px;
    left: 4px;
    z-index: 100000;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
      
  }
  
  .permis-UL .permis-LI:hover .check {
    /* border: 5px soLId black; */
  }
  
  .permis-UL .permis-LI .check::before {
    display: block;
    position: absolute;
      content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: -1px;
    left: -1px;
    background: white;
    margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
  }
  
  .permis-LI input[type=radio]:checked ~ .check {
    border: 5px solid #ffff;
    z-index: 9999;
    left: 4px;
    top: 3px;
  }
  
  .permis-LI input[type=radio]:checked ~ .check::before{
    background: #FE8700;
  }
  
  .permis-LI input[type=radio]:checked ~ label{
    color: #ffff;
    background: #FE8700;
    border-radius: 100px;
    border: 0px;
    width: 65px;
    height: 25px;
  }
  
  .ul-check .li-check{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
  }
  
  .ul-check .li-check input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  
  .ul-check .li-check label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    font-size: 1.35em;
    font-size: 15px;
    margin-left: 1px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    background: #CCCCCC;
    border-radius: 100px;
    border: 0px;
    width: 65px;
  }
  .ul-check .li-check label p{  
    margin-left: 30px;
    font-size: 14px;
  }
  .ul-check .li-check:hover label{
      color: black;
      
  }
  
  .ul-check .li-check .check{
    display: block;
    position: absolute;
    border: 5px solid #ffff;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 3px;
    left: 4px;
    z-index: 100000;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
      
  }
  
  .ul-check .li-check:hover .check {
    /* border: 5px solid black; */
  }
  
  .ul-check .li-check .check::before {
    display: block;
    position: absolute;
      content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: -1px;
    left: -1px;
    background: white;
    margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
  }
  
  .li-check input[type=radio]:checked ~ .check {
    border: 5px solid #ffff;
    z-index: 9999;
    left: 4px;
    top: 3px;
  }
  
  .li-check input[type=radio]:checked ~ .check::before{
    background: #FE8700;
  }
  
  .li-check input[type=radio]:checked ~ label{
    color: #ffff;
    background: #FE8700;
    border-radius: 100px;
    border: 0px;
    width: 65px;
    height: 25px;
  }
  .select__menu{
      z-index: 2000000000 !important;
  }
  


/* Emoji css */

  .react {
    --r:40px;
    display:inline-grid;
    cursor:pointer;
    width: var(--r);
    height: var(--r);
    border-radius:50%;
    line-height: var(--r);
    text-align:center;
    transform:rotate(0);
  }
  
  .react i:before {
    content:attr(data-icon);
    grid-area:1/1;
    font-style:normal;
    font-size:calc(0.6*var(--r));
  }
  
  .react i{
    filter:grayscale(100%);
    transform:scale(1);
    grid-area:1/1;
    display:inherit;
    transition: transform .6s cubic-bezier(0.5,-12,1,-12);
  }
  .react:hover{
    transform:rotate(0.1deg);
    transition:transform 0.25s cubic-bezier(0.5,400,0.5,-400);
  }
  .react:before {
    content:"";
    grid-area:1/1;
    border-radius:50%;
    border:solid orange calc(var(--r)/2);
    transform:scale(0);
  }
  .react:after,
  .react i:after{
    content:"";
    grid-area:1/1;
    margin: calc(var(--r)/-2);
    --c1:radial-gradient(red    50%,#0000 60%);
    --c2:radial-gradient(orange 50%,#0000 60%);
    background:
      var(--c1),var(--c1),var(--c1),var(--c1),
      var(--c2),var(--c2),var(--c2),var(--c2); 
    background-size:calc(var(--r)/6) calc(var(--r)/6); 
    background-position:
      calc(50% - var(--r)/2) calc(50% - var(--r)/2),
      calc(50% + var(--r)/2) calc(50% - var(--r)/2),
      calc(50% - var(--r)/2) calc(50% + var(--r)/2),
      calc(50% + var(--r)/2) calc(50% + var(--r)/2),
      calc(50% +  0px) calc(50% + var(--r)*0.707),
      calc(50% + var(--r)*0.707) calc(50% +  0px),
      calc(50% - var(--r)*0.707) calc(50% +  0px),
      calc(50% +  0px) calc(50% - var(--r)*0.707);
    background-repeat:no-repeat;
    transform:scale(0);
  }
  .react i:after {
    background-size:calc(var(--r)/8) calc(var(--r)/8);
    transform:rotate(60deg) scale(0);
  }
 /* input[type=radio]:checked + span{
   color: black !important;
  } */
  input:checked + .react i{
    filter:grayscale(0);
    transform:scale(0.95);
    transition:
       filter .5s .5s,
       transform 1s cubic-bezier(0,26.67,.5,26.67);
  }
  input:checked + .react:before {
    border-width:0;
    transform:scale(1);
    transition:
      transform 0.5s,
      border-width 0.5s 0.5s;
  }
  input:checked + .react:after,
  input:checked + .react i:after{
    transform:scale(1);
    opacity:0;
    background-size:0 0;
    transition:
      transform 0.5s 0.5s,
      opacity   0.4s 0.9s,
      background-size 0.5s 0.9s;
      
  }
  input:checked + .react i:after {
    transform:rotate(55deg) scale(1);
  }
  input:checked + .react i:after {
    transform:rotate(55deg) scale(1);

  }  
 .coverClass input[type=radio]{
    box-sizing: border-box;
    padding: 0;
    display: none;
}

.coverClass{
  margin-top: 15px;
}