@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
}

body {

    overflow-x: scroll;
}

.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    position: fixed;
    top: 0;
    left: 300px;
    width: 80%;
    background-color: #ffff;
    z-index: 40000000000;
}
.btn-003{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FE8700;
    border: 1px solid #fe8700;
    border-radius: 25px;
}
.btn-004{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FE8700;
    border: 1px solid #fe8700;
    border-radius: 25px;
}
.navbar-expand-lg{
    height: 62px !important;
}

.ul-li {
    list-style: none !important;
    padding-top: 15px;
}

.btn-1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.105991px;
    text-transform: uppercase;
    background: #032339;
    border-radius: 100px;
    color: #FFFFFF;
}

.btn-2 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #ffff !important;
    background-color: #FE8700;
    border-radius: 50px !important;
}
.position{
    position: absolute;
    right: 15px;
}
.mainRow {
    width: 76%;
    background: white;
    position: fixed;
    height: 60px;
    z-index: 9000000;
}
.paddingTopHeader{
    padding-top: 5px;
}