@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
}

body {

    overflow-x: scroll;
}
.inputData::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  .inputData::-webkit-scrollbar-track {
    background: #e7e7e7;        /* color of the tracking area */
  }
  .inputData::-webkit-scrollbar-thumb {
    background-color: orange;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }
.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    position: fixed;
    top: 0;
    left: 300px;
    width: 80%;
    background-color: #ffff;
    z-index: 95000000000000000000000000;
}
.btn-003{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FE8700;
    border: 1px solid #fe8700;
    border-radius: 25px;
}
.btn-004{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FE8700;
    border: 1px solid #fe8700;
    border-radius: 25px;
}
.navbar-expand-lg{
    height: 62px !important;
}

.ul-li {
    list-style: none !important;
    padding-top: 15px;
}

.btn-1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.105991px;
    text-transform: uppercase;
    background: #032339;
    border-radius: 100px;
    color: #FFFFFF;
}

.btn-2 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #ffff !important;
    background-color: #FE8700;
    border-radius: 50px !important;
}
.position{
    position: absolute;
    right: 0px;
}
.mainRow {
    width: 76%;
    padding: 10px 0px;
    background: white;
    position: fixed;
    height: 70px;
    z-index: 9000000;
}
.paddingTopHeader{
    padding-top: 5px;
}

.EmbaucheCardSearchBtn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #A461D8;
    border: 0px;
    background: #F4E7FF;
    border-radius: 100px;
    width: 124%;
    /* padding: 3px 11px !important; */
    height: 33px;
}

.nameCard{
    background: #F5F6F8;
    border-radius: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8F8F8F;
    height: 35px;
}
.nameCardbtn{
    border-radius: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8F8F8F;
    height: 35px;
}
.ArchivedCardSearchBtn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FF0000;
    background-color: #FFE0E0;
    border: 0px;
    border-radius: 100px;
    height: 27px;
    width: 124%;
}
.todoBtnStyleCard{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;  
    color: #3F76E2;
    background: #E4F4FF;
    border: 0px;
    border-radius: 100px;
    height: 27px;
    width: 124%;
}
.clear{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ADADAD;
}


.loadingSearchBar {
    left: 26%;
    top: 55%;
    font-size: 14px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2.4px;
    text-transform: capitalize;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -60%);
  
}

  
.loadingSearchBar:before {
    color: #aaa;
    content: attr(data-loading-text);
}

.loadingSearchBar:after {
    top: 0;
    left: 0;
    width: 0;
    opacity: 1;
    color: rgb(139, 0, 49);
    overflow: hidden;
    position: absolute;
    content: attr(data-loading-text);
    animation: loadingSearchBa 5s infinite;
}

@keyframes loadingSearchBa {
  0% { 
    width: 0; 
  }
  100% {
    width: 100%; 
  }
}

@media (min-width: 768px){
.HeaderModalSelect {
    height: 37px;
    width: 37px;
    border: 1px solid #ADADAB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #F5F6F8;
}
    .btn-1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 8px;
        line-height: 11px;
        letter-spacing: -0.105991px;
        text-transform: uppercase;
        background: #032339;
        border-radius: 100px;
        color: #FFFFFF;
    }
    .btn-2 {
        font-weight: 700;
        font-size: 10px;
        line-height: 11px;
        color: #ffff !important;
        background-color: #FE8700;
        border-radius: 50px !important;
    }
    .btn-003 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 9px;
        line-height: 11px;
        text-align: center;
        color: #FE8700;
        border: 1px solid #fe8700;
        border-radius: 25px;
    }
    
.btn-004 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 10px;
    text-align: center;
    color: #FE8700;
    border: 1px solid #fe8700;
    border-radius: 25px;
}
.mainRow {
    width: 77%;
    padding: 10px 0px;
    background: white;
    position: fixed;
    height: 55px;
    z-index: 9000000;
}
.logoSet {
    padding: 13px 16px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.accordion-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 24px;
    color: #F6F7F9 !important;
}
.pd013 {
    padding: 14px 0px 14px 22px !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 8px !important;
    line-height: 24px !important;
    color: #FE8700 !important;
}
.fontStylingBar {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 25x !important;
    display: flex;
    align-items: center;
    color: #999FA9 !important;
    padding-left: 20px !important;
    padding-top: 5px;
}
.signOut {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 24px;
    color: #F6F7F9;
}
.pd{
padding: 5px 14px 30px 0px !important;
}
.filterStyling {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    color: #373A3C;
}
.btn-bgblack {
    background-color: #032339;
    font-weight: 700;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
    letter-spacing: -0.105991px;
    text-transform: uppercase;
    border-radius: 25px;
    color: #ffffff;
    /* margin-top: 5px; */
    padding: 4px 10px;
}
.pt-1101{
padding-top: 16px;
}

.HeaderModalContainer {
    position: fixed !important;
    width: 260px !important;
    height: 135px !important;
    left: 732px !important;
    top: 58px !important;
}
.LoginModalContainer {
    position: fixed !important;
    width: 260px !important;
    height: 135px !important;
    left: 1006px !important;
    top: 58px !important;
}


.hoverbtnS:hover{

    background: #FFF7EE !important;
    color: #FE8700 !important;
    border-radius: 22px ;

}
.hoverbtnS{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8F8F8F;
}
.VoirLESite:hover{
    color: #FE8700 !important;
}

.VoirLESite:active{
    color: #FE8700 !important;
}
.HeaderWidthModal {
    max-width: 275px;
    margin:  auto;
}
.searcInputbOx:focus-visible{
border: 0px !important;
outline: 0px;
}
.searcInputbOx{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 21px;
width: 78%;
/* identical to box height */


color: #ADADAD;

}

.inputData {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    height: 50%;
    width: 46%;
    position: fixed;
    right: 13px;
    z-index: 9999990;
    top: 70px;
    background-color: #ffff;
    border-radius: 0px 0px 10px 10px;
    overflow-y: scroll;
}
.NoinputData {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    height: 30%;
    width: 36%;
    position: fixed;
    right: 13px;
    z-index: 9999990;
    top: 70px;
    background-color: #ffff;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ErrorSearchBox{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 33px;
letter-spacing: 1px;
color: #252726;
}

.hoverSearchList:hover .nameCard{
    background: #FFE6CA;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #E07700;
}
.preLargebtnCard{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: -0.105991px;
    text-transform: uppercase;
    color: #FE8700;
    border: 0px;
    background: #FFF7EE;
    border-radius: 100px;
    height: 28px;
    width: 124%;
  
}
.hoverSearchList:hover .imgManLogo{
    background-image: url("../images/hoverCardLogo.svg");
    background-repeat: no-repeat;
    height: 38px;
}

.imgManLogo{
    background-image: url("../images/mencard.svg");
        background-repeat: no-repeat;
        height: 38px;
    }
.hoverSearchList{
    width: 100%;
    padding: 10px;
}

.hoverSearchList:hover{
    padding: 10px;
    background: #FFF7EE;
    border-radius: 100px;
}
}
@media (min-width:1200px){

    .searcInputbOx{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 88%;
    /* identical to box height */
    
    
    color: #ADADAD;
    
    }
    .HeaderModalSelect{
        height: 50px;
        width: 50px;
        border: 1px solid #ADADAB;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: #F5F6F8;
    }
    .pd {
        padding: 13px 14px 25px 0px !important;
    }
    .pt-1101{
padding-top:0px ;
    }
    
    .pd013 {
        background-color: #FFF7EE !important;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 25px !important;
        color: #FE8700 !important;
    }
    .accordion-button {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #F6F7F9;
        border-radius: 0px !important;
    }
    .fontStylingBar {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25x;
        display: flex;
        align-items: center;
        color: #999FA9 !important;
        padding-left: 40px !important;
        padding-top: 5px;
    }
    .signOut {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #F6F7F9;
    }
    .btn-1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.105991px;
        text-transform: uppercase;
        background: #032339;
        border-radius: 100px;
        color: #FFFFFF;
    }
    .btn-1:hover ,.btn-2:hover{
      color: #ffff !important;
    }
    .btn-003:hover,.btn-004:hover{
        color: #FE8700 !important;
    }

    .btn-2 {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: #ffff !important;
        background-color: #FE8700;
        border-radius: 50px !important;
        text-transform: uppercase;
    }
    .btn-003 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FE8700;
        border: 1px solid #fe8700;
        border-radius: 25px;
    }
    .btn-004 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FE8700;
        border: 1px solid #fe8700;
        border-radius: 25px;
    }
    .mainRow {
        width: 76%;
        padding: 10px 0px;
        background: white;
        position: fixed;
        height: 70px;
        z-index: 9000000;
    }
    .logoSet {
        padding: 20px 50px;
        width: 100%;
        border-bottom: 1px solid #ffff;
    }
 
   
}

@media  (min-width:1400px){
    .HeaderModalContainer {
        position: fixed !important;
        width: 273px !important;
        height: 135px !important;
        left: 805px !important;
        top: 58px !important;
    }
    .LoginModalContainer{
        position: fixed !important;
        width: 273px !important;
        height: 135px !important;
        left: 1123px !important;
        top: 58px !important;
    }
    
    
}
@media  (min-width:1600px){
    .HeaderModalContainer {
        position: fixed !important;
        width: 273px !important;
        height: 135px !important;
        left: 908px !important;
        top: 58px !important;
    }
    .LoginModalContainer{
        position: fixed !important;
        width: 273px !important;
        height: 135px !important;
        left: 1295px !important;
        top: 58px !important;
    }

    
    
}
@media  (min-width:1700px){
    .HeaderModalContainer {
        position: fixed !important;
        width: 273px !important;
        height: 135px !important;
        left: 976px !important;
        top: 58px !important;
    }
.LoginModalContainer{
    position: fixed !important;
    width: 273px !important;
    height: 135px !important;
    left: 1410px !important;
    top: 58px !important;
}
    
    
}
@media  (min-width:1800px){
    .HeaderModalContainer {
        position: fixed !important;
        width: 273px !important;
        height: 135px !important;
        left: 1101px !important;
        top: 58px !important;
    }
    .LoginModalContainer{
        position: fixed !important;
        width: 273px !important;
        height: 135px !important;
        left: 1101px !important;
        top: 58px !important;  
    }
}
@media  (min-width:1900px){
    .HeaderModalContainer {
        position: fixed !important;
        width: 273px !important;
        height: 135px !important;
        left: 1513px !important;
        top: 58px !important;
    }
    .LoginModalContainer{
        position: fixed !important;
        width: 273px !important;
        height: 135px !important;
        left: 1621px !important;
        top: 58px !important;
    }
}