.bg-class {
  background-color: #fe8700 !important;
  margin: 15px 0px;
  border-radius: 15px;
  padding: 20px;
}

.top-pd {
  padding: 15px 0px;
}
.AllMoreOpOp .css-1n7v3ny-option{
  text-align: start;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #373A3C;
padding: 5px 10px !important;


}
.AllMoreOpOp .css-9gakcf-option{
  text-align: start;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #373A3C;
background-color: #fe8700;
padding: 5px 10px !important
}
.AllMoreOpOp .css-1n7v3ny-option{
  text-align: start;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #373A3C;
background-color: #fe8700;
padding: 5px 10px !important
}
.stable img {
  padding-right: 10px;
}

.bg-Progress-btn {
  background-color: #a461d8;
  border-radius: 13px;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.105991px;
  text-transform: uppercase;
  color: #ffff;
}

.btn-edit-bgb {
  background-color: #032339;
  color: orange;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
}

.btn-edit-bgb img {
  width: 20px;
  margin-inline: 5px;
}

.btn-in-progress {
  background-color: #a461d8;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
}



.InProLargebtn{
  border: 0px;
  color:#A461D8;
  background: #F4E7FF;
border-radius: 100px;
padding: 8px 20px !important;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
letter-spacing: -0.105991px;
text-transform: uppercase;
color: #A461D8;

}


.boxProgress {
  background: #F4E7FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 25px 40px;
  width: 99%;
}

.end-class p {
  margin-bottom: 0px !important;
}

.btn-email {
  background-color: #b5b5be;
  color: white;
  border: 1px solid #000000;
  width: 379px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 18px;
}

.btn-see {
  background-color: #3f76e2;
  color: white;
  border: 1px solid #000000;
  width: 379px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 18px;
  margin-bottom: 5px;
}

.padding-email {
  padding-right: 10px;
}

.padding-email img {
  width: 10%;
}

.btn-whatsapp {
  background-color: #489767;
}

.parent-p {
  padding-top: 5px;
}

.parent-p p {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  text-decoration-line: underline;
  padding-right: 10px;
  color: #ffffff;
}

.blue-text {
  color: #3f76e2 !important;
}

.btn-black:hover {
  color: #fe8700;
}

.parent-p span {
  text-decoration-line: unset !important;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.exp {
  font-family: "Arial";
  font-style: normal;
  font-weight: 900;
  font-size: 29px;
  line-height: 24px;
}

tbody {
  background-color: white !important;
}

thead {
  background-color: #c4c4c4;
}

.btn-upload {
  background-color: #c4c4c4;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-top: 5px;
  padding: 5px;
}

.social-box-size {
  width: 99%;
  text-align: center;
  border: 1px solid #ffff;
  border-radius: 10px;
  background: currentColor;
  margin-top: 10px;
}

.social-box-size p {
  color: #ffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 0px !important;
}

.child-p p {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  text-decoration-line: underline;
  padding-right: 10px;
  color: #ffffff;
  margin-bottom: 0px;
}

.child-p span {
  text-decoration-line: unset !important;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #ffff;
}

.btn-move {
  background-color: #a461d8;
  color: #ffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  padding: 20px;
  border-radius: 8px;
}

.btn-red {
  color: #ffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ff0000;
}

.btn-black {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  background-color: #032339;
  color: #fe8700;
  border-radius: 8px;
  padding: 18px;
  display: flex;
  align-items: center;
}

.btn-black img {
  padding-right: 5px;
  width: 20%;
}

.italic-font {
  font-family: "Arial";
  font-style: italic;
  padding-top: 10px;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  padding-left: 20px;
}

.card-xl p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 16px;
  color: #ffffff;
  padding-top: 5px;
}

.btn-bgb:hover {
  color: #fe8700;
}


/* Modal */
.padding-pb {
  padding: 8px;
}

.pRight {
  padding-left: 18px;
  padding-top: 1px;
}

.modal-content {
  border-radius: 10px;
}

.lable-from {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 16px !important;
  line-height: 24px !important;
}


.salaire {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 24px !important;
}

.padding-full {
  padding: 15px;
}


/* */
/* 

#app-cover {
  display: table;
  width: 600px;
  margin: 80px auto;
  counter-reset: button-counter;
}
.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkboxInput {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
} */


/* Button 4 */
/* 
#button-4 .knobs:before,
#button-4 .knobs:after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-4 .knobs:before {
  content: "YES";
}

#button-4 .knobs:after {
  content: "NO";
}

#button-4 .knobs:after {
  top: -28px;
  right: 4px;
  left: auto;
  background-color: #f44336;
}

#button-4 .checkboxInput:checked + .knobs:before {
  top: -28px;
}

#button-4 .checkboxInput:checked + .knobs:after {
  top: 4px;
}

#button-4 .checkboxInput:checked ~ .layer {
  background-color: #fcebeb;
} */


/*  */
@media (min-width:768px){
  .cardInPro{
    background: #FFFFFF;
border-radius: 16px;
  }
  .topHeaderClient{
    background: #FFFFFF;
box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
border-radius: 10px;
  }
  .topinPHeading h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 1px;
text-transform: capitalize;
color: #252726; 
margin-right: 10px;
  }
  .Inchild-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.InPopinsText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}

  .topinProgresstext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    
    letter-spacing: 1px;
    text-transform: capitalize;
    
    color: #A461D8 !important;
    
  }
  .px-120{
    padding-top:10px;
  }
  .missing {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    color: #373A3C;
    margin-right: 10px;
}
.widthIMG{
  width: 70%;
}
.progressCardBtnClient {
  background: #F4E7FF;
  border-radius: 25px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #A461D8;
  border: 0px;
  padding: 5px 5px;
}
.colorRecruting{
  background: #F4E7FF;
}
.in-Recruting{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
color: #A461D8;
padding: 10px 0px;
}
.Ads-box {
  display: grid;
  background-color: #F4E7FF;
}
.AdsFont{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-transform: capitalize;
color: #333333;
margin-bottom: 8px !important;

}

/* Archived */

.topArchivedtext{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 1px;
text-transform: capitalize;
color:  #E21B1B;;

}
.colorRecruting{
  background: #F4E7FF;
}
.colorARecruting{
  background: #FFE0E0;;
}
.A-Recruting{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
color: #E21B1B;
padding: 10px 0px;
}
.AllMoreOpOp .css-1n7v3ny-option{
  text-align: start;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #373A3C;
padding: 5px 10px !important;


}
.AllMoreOpOp .css-9gakcf-option{
  text-align: start;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #373A3C;
background-color: #fe8700;
padding: 5px 10px !important
}
.AllMoreOpOp .css-1n7v3ny-option{
  text-align: start;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #373A3C;
background-color: #fe8700;
padding: 5px 10px !important
}

 /* Signed Client */
 .EmpWorking{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  }
  .SignedClientBtn{
    background: #E4FFEF;
    border-radius: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #489767;
    border: 0px;
    padding: 11px 6px;
  }
  .SignedClientBtn img{
 margin-right: 5px;

  }
  .textSignedClient{
    background: #E4FFEF;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
color: #489767;
padding: 10px;
  }
  .SignedClientBox{
    background: #E4FFEF;
  }
  /* Client Signed */

.topSignedtext{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */

letter-spacing: 1px;
text-transform: capitalize;

color: #489767;
}

  /* Signed Client */
}
@media (min-width:1200px){

  /* Signed Client */
  .EmpWorking{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  }
  .SignedClientBtn{
    background: #E4FFEF;
    border-radius: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #489767;
    border: 0px;
    padding: 11px 6px;
  }
  .SignedClientBtn img{
 margin-right: 5px;

  }
  .textSignedClient{
    background: #E4FFEF;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
color: #489767;
padding: 10px;
  }
  .SignedClientBox{
    background: #E4FFEF;
  }

  /* Signed Client */


  .topArchivedtext{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 1px;
text-transform: capitalize;
color:  #E21B1B;;

  }

  .cardInPro{
    background: #FFFFFF;
border-radius: 16px;
  }
  .topinPHeading h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
letter-spacing: 1px;
text-transform: capitalize;
color: #252726; 
margin-right: 10px;
  }
  .topinProgresstext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    
    letter-spacing: 1px;
    text-transform: capitalize;
    
    color: #A461D8 !important;
    
  }
  .Inchild-text{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

display: flex;
align-items: flex-end;
text-align: center;

color: #000000;

  }
  .InPopinsText{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 24px;
display: flex;
align-items: flex-end;
color: #000000;
  }

  .topHeaderClient{
    background: #FFFFFF;
box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
border-radius: 10px;
  }
  .progressCardBtnClient {
    background: #F4E7FF;
    border-radius: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
    color: #A461D8;
    border: 0px;
    padding: 5px 5px;
}
  .progressCardBtnClient img{
width:15px !important;
  }
  .widthIMG{
    width: 70%;
  }
  .colorRecruting{
    background: #F4E7FF;
  }
  .colorARecruting{
    background: #FFE0E0;;
  }
  .A-Recruting{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
color: #E21B1B;
padding: 10px 0px;
  }
  .in-Recruting{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
color: #A461D8;
padding: 10px 0px;
  }
  .Ads-box {
    display: grid;
    background-color: #F4E7FF;
}
.AdsFont{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-transform: capitalize;
color: #333333;
margin-bottom: 8px !important;

}



/* Client Signed */

.topSignedtext{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */

letter-spacing: 1px;
text-transform: capitalize;

color: #489767;
}

/* Archived */

.AllMoreOp .css-yt9ioa-option{
  text-align: start;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #373A3C;
padding: 5px 10px !important;


}
.AllMoreOp .css-9gakcf-option{
  text-align: start;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #373A3C;
background-color: #fe8700;
padding: 5px 10px !important
}
.AllMoreOp .css-1n7v3ny-option{
  text-align: start;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #373A3C;
background-color: #fe8700;
padding: 5px 10px !important
}

}