.logo-hold {
    margin: auto;
    width: min(550px, 80%);
    padding-top: 2rem;
}

.login-panel {
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: center;
    border-radius: 25px;
    width: min(1270px, 90%);
    margin: auto;
}
.navbar-light .navbar-nav .active.nav-link {
    background-color:unset;
}
.login-panel .input-box {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: min(1000px, 100%);
    color: #0000;
    border: 1px solid #E5E5E5;
    border-radius: 25px;
}

.login-panel .input-box .input {
    width: 90%;
}

.login-panel .input-box input {
    width: 95%;
    outline: none;
    border: none;
    font-size: larger;
    color: #000 !important;
}

.login-panel .sign-in-btn {
    color: white !important;
    font-weight: 700;
    background:#FE8700;
    width: min(415px, 90%);
    border-radius: 25px;
}

.login-panel a {
    text-decoration: none !important;
    color: inherit !important;
}

.btn-dark {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.img-Back{    background-image: url('../images/LoginImg.svg');
    background-position: center;
    /* background-size: 102%; */
    background-repeat: no-repeat;
    padding-right: 0px;
    padding-left: 0px;
    height: 100vh;
    position: relative !important;
    left: -15px;
}
.Remember-me{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7187;  
    padding-left: 5px; 
}
.btn-001{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FE8700;
    border: 1px solid #fe8700;
    border-radius: 15px;
}
.backOffice{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 63px;
}
.lost-If{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #6F7187;
}
.forgetPassword{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;  
    color: #032339;
}


@media (min-width:768px){

}

@media (min-width:1200px){
    
}

@media (min-width:1400px){
    .img-Back {
        background-image: url('../images/LoginImg.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 0px;
    background-size: 100%;
    padding-left: 0px;
    height: 100vh;
}
.Login-fields{
    display: grid!important;
    align-items: center;
    height: 75vh;
    align-content: center;
}
}