* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logoutImage {
    height: 20px;
    width: 20px;
}

.flex-shrink-0 {
    height: 100%;
}
.border-radius{
    padding: 8px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 105%;
}
.pd-gutter{
    padding-right: 0px;
}
.pd013{
    padding:14px 0px 14px 22px !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    color: #FE8700 !important;
}
.fontStylingBar{ 
 font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25x;
display: flex;
align-items: center;
color: #999FA9 ;
padding-left: 40px !important;
padding-top: 5px;
}
.accordion-button{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #000000;

}
.logoSet{
    padding: 20px 16px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.navbar li {
    float: left;
    display: block;
}

.scroll {
    position: absolute;
    right: 0;
}

.me-md-auto {
    padding-left: 30px !important;
}

.pd-left {
    padding-right: 7px !important;
}

.fixed {
    position: fixed;
}

.bg-side {
    padding-right: 7px !important;
    padding-left: unset !important;
    background-color: #ffff;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000;
    background-color: #FAFAFB;
   
}
.nav-link{
    padding: 0.5rem 0rem;
}
.navbar-expand-lg {
    height: 50px !important;
}

.text-class li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    padding: 0.5rem 0.5rem !important;
}

.accordion-button:not(.collapsed) {
    background-color: #032339;
    box-shadow: unset !important;
    border-bottom: unset !important;

}

.accordion-body ul {
    list-style: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/downArrow.svg");
    transform: rotate(-180deg);
}
.filter-logo{
    filter:  invert(106%) sepia(2%) saturate(56%) hue-rotate(-187deg) brightness(130%) contrast(209%);
}
.filter-text{
    filter:  invert(106%) sepia(2%) saturate(56%) hue-rotate(-187deg) brightness(130%) contrast(209%);
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../images/downArrow.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:focus {
    z-index: 3;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}

.accordion-body {
    padding-left: 0.5rem 1.25rem;
}

.accordion-item {
    background-color: #fff;
    border: unset !important;
}

.accordion-body ul {
    padding-left: 0px;
}

.nav-link {
    color: unset;
}

.btn:focus {
    box-shadow: none;
}
.link-dark:focus,.link-dark:hover{
background-color:#FFF7EE;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
display: flex;
align-items: center;
color: #FE8700 !important;
border-radius: 0px !important;
}
.active a{
    background-color:#FFF7EE !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FE8700 !important;
    margin: 0px 15px;
    }
.active{

background-color: #FFF7EE;

    }
.Log-Out {
    position: absolute;
    bottom: 15px;
    left: 40px;
}
.signOut{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;
}
.sideBarBackG{
    background: #032339;
}
.sideBarBackGactive {
    background: #FFF7EE;
}
.sideBarBackGactive a{
    color: #FE8700 ;
}

.overX{
    overflow-x: hidden;
}
/* Mini SideBar */

.ulStyleSideBar{
    list-style: none;
}
.ulStyleSideBar li{
padding: 10px;
}
.activeDiv{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F7F9;
    border-radius: 5px;

}
.FilterMinibar{
    filter:  invert(50%) sepia(97%) saturate(1413%) hue-rotate(0deg) brightness(101%) contrast(106%);

}
.sidebarScroll{
    overflow-y: scroll;
    margin-bottom: 20px;
}
.sidebarScroll::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
  }
  .sidebarScroll::-webkit-scrollbar-track {
    background: #e7e7e7;        /* color of the tracking area */
  }
  .sidebarScroll::-webkit-scrollbar-thumb {
    background-color: orange;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }
.btnSideBarCollapse{
    top: 96px;
    position: absolute;
    right: -14px;
    /* left: 81px; */
    z-index: 9999999999999999999993343234234234324424;
    background: #032339;
    height: 53px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 185px 185px 0px;
    color: #fff;
}
.closeClick{
    width: 22px;
    position: absolute;
    right: 15px;
    top: 8px;
}