body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}
code {
  font-family: Ubuntu, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page_loader {
    width: 148px;
    height: 148px;
    border: 20px solid #ffffffb0;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }